[2019-06-26 08:14] bartlibert opened #2 "Add support for C++"
I write mostly C++ code, which is documented with [doxygen](http://www.doxygen.nl/).
There are already some doxygen plugins for vim, but none are really that great.
Doxygen also supports some other languages (while not the main focus), so that could be a bonus.

[2019-06-26 09:53] kkoomen commented on #2
@bartlibert I had the whole C family on my list but dropped the support for it since quite some people mentioned that they wouldn't add comments using `@param` etc. The max they would do is use a single-line comment to describe briefly what the function does. They wouldn't add anything else.

However, I had some people as well who indeed use Doxygen and prefer to document the code like that. I'll

[2019-06-26 10:31] kkoomen commented on #2
Sorry, accidentally closed the issue. Re-opened it.

[2019-06-26 10:36] kkoomen commented on #2
@bartlibert If you can, please provide me with some example test cases that might be "tricky" or quite complex. I know the basic syntax of the C languages, but I am not aware of all the possibilities of how type hints and return types can be defined and how functions can be declared. The general structure I know for a function is `<func-return-type> <func-name>(<func-param-list>) { ... }`. If you

[2019-06-26 10:45] bartlibert commented on #2
I can agree with the format above, it is very similar to what I use now (although I use the "brief" tag as well, but it is not strictly necessary).

As to the "tricky" cases, I'll probably only now they're tricky when I encounter them, but some I can already think of related to functions:

With templates:
`template<class or typename something> <func-return-type> <func-name>(<func-param-list>){ ...

[2019-06-26 11:10] kkoomen commented on #2
I have written a version with 3 quite complex scenarios that I found. These are the generated results:

[code]

I'll add support  for the `auto` syntax as well.

To confirm: the `template` and `auto` is CPP specific, right? Because I do want to add support for C and Objective-C as well. I assume you have experience in these two languages as well? If so, would you be interested in adding two more i

[2019-06-26 12:06] bartlibert commented on #2
I'm not familiar with Objective-C, so maybe someone else might be better suited to do that.

auto and template are C++-specific as far as I know.

[2019-06-26 13:24] kkoomen commented on #2
@bartlibert I just finished the second pattern for PTS functions containing the `auto` syntax. These are the generated results:

[code]

Is this enough? If not, please provide some more scenario's I should cover. Otherwise if you agree on this I will write tests and merge into develop later on and release a new version later this day.

[2019-06-26 17:45] paulkass opened #3 "Add support for Numpy style documentation for python"
**Is your feature request related to a problem? Please describe.**
My project uses Numpy documentation style, and I would like to continue using that.

**Describe the solution you'd like**
An option to add documentation styles, in particular the Numpy documentation style.

**Additional context**
Here is the description of the Numpy doc [style](http://daouzli.com/blog/docstring.html#numpydoc).

[2019-06-26 18:01] kkoomen commented on #3
The general idea here is to add support for multiple doc styles and I definitely agree! This was something I had on my own todo list as well to implement, but it was optionally for me personally. I'll work on a multi-doc implementation per language ;)

Thanks for your input.

[2019-06-27 07:08] bartlibert commented on #2
I am familiar with C, but only slightly with C# (must have overlooked that one in your list). As for what you have at the moment for C++, that seems fine. Are you ok with new issues when stuff would be missing for C++?
For the "infinite amounts of interfaces", do you mean the "___init" and "__maybe_unused" stuff? Most of the time that are macros that map onto compiler-specific attributes, so they

[2019-06-27 10:25] kkoomen commented on #2
Cool, then I'll merge soon.

Of course!

Ah yes, macros. C is not my main language hehe. I'll add C after #2 has been merged.

[2019-06-27 14:15] kkoomen commented on #3
Multiple doc standard are supported, tested and succesfully merged into the master branch :tada:

[2019-06-27 14:15] #3 closed

[2019-06-27 19:01] kkoomen commented on #2
@bartlibert I'm seeing different types of files in some repositories with the extension: `ipp` or `hpp`. I'm assuming those filetypes should be supported as well?

[2019-06-27 20:23] kkoomen commented on #2
C++ support has been submitted including tests and is merged to master :tada:

[2019-06-28 06:15] bartlibert commented on #2
I just realized it does not work for declarations, probably because there the functions end in ";" instead of "{ ... }". Should I create a new issue for this?

[2019-06-28 07:07] kkoomen commented on #2
@bartlibert I have re-opened the issue and will work on it immediately. Totally forgot that scenario. I’ll add some tests for it as well!

[2019-06-28 07:09] bartlibert commented on #2
I forgot it as well to be honest, so no worries :)

Op vr 28 jun. 2019 om 09:07 schreef Kim Koomen <notifications@github.com>:

[2019-06-28 07:51] kkoomen commented on #2
@bartlibert I fixed the scenarios, added tests and merged to master. I even improved the patterns since I came accross this gigantic function (taken from https://github.com/nlohmann/json/blob/develop/include/nlohmann/adl_serializer.hpp#L14-L29)

[code]
so this advanced syntax is also being supported.

Perhaps you can tell me what the `noexcept(noexcept(::nlohmann::from_json(std::forward<BasicJsonT

[2019-06-28 07:53] #2 closed

[2019-06-28 07:54] kkoomen commented on #2
Merged to master, declarations are supported as well and therefore closed.

[2019-06-28 08:15] bartlibert commented on #2
The name of the function is indeed "from_json". The first noexcept is the noexcept specifier, which indicates that this function does not throw exceptions (https://en.cppreference.com/w/cpp/language/noexcept_spec). The noexcept specifier can take an expression as well, if the condition is only valid in certain cases. The second noexcept is the noexcept operator (https://en.cppreference.com/w/cpp/l

[2019-06-28 08:17] kkoomen commented on #2
Thank you for your tremendous support! It's been appreciated!

[2019-07-10 06:48] bartlibert opened #5 "[c++] @return tag is added for functions returning void"
**Describe the bug**
In c++ (and C), functions can have a "void" return type, meaning they don't return anything.
This plugin adds a return tag in the doxygen comments for this kind of functions though.

**To Reproduce**
Create a c++ file, for example foo.h containing:
`void foo();`

Put your cursor on the function and press "Ctrl-D"

The following comment is generated:
[code]

**Expected behavior

[2019-07-10 11:26] kkoomen commented on #5
Thank you for submitting this issue. This issue has been fixed and merged into master in [v1.2.3](https://github.com/kkoomen/vim-doge/tree/v1.2.3).

[2019-07-10 11:26] #5 closed

[2019-07-12 00:36] yasufumy opened #6 "Feature request: Google style documentation for python"
**Documentation standard**
[This link](https://github.com/google/styleguide/blob/gh-pages/pyguide.md#38-comments-and-docstrings) provides the google style documentation standard.

**How popular is the doc standard?**
- [ ] Not popular at all
- [ ] Some people use it
- [x] Quite a lot of people use it
- [ ] It's not the most popular one, but a good alternative
- [ ] Everyone is using it

[2019-07-12 02:28] kkoomen commented on #6
Hi!

Thanks for your feature request. I've implement the Google doc standard. I also found [this](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html) on how to document type hints, but using my plugin and the way the comment is generated I can't give something like: ```            param2 (:obj:`int`, optional): TODO```.

I'll try to dynamically add the `optional` keyword a

[2019-07-12 04:26] kkoomen commented on #6
I've added support for type hints where it does a fallback to a `TODO` keyword if there is no type hint specified, so you can jump to the `TODO` item to quickly add your type hint to enhance your documentation.

I've also added the `optional` keyword when a parameter has a default value.

Tests have been written and [v1.3.0](https://github.com/kkoomen/vim-doge/tree/v1.3.0) has been released into m

[2019-07-12 04:26] #6 closed

[2019-07-12 04:31] yasufumy commented on #6
Thank your for your fast replay!

[2019-07-17 23:05] ColtonKinstley opened #9 "Failure to generate doc string on multi-line function definition in python."
**Describe the bug**
On multiline function definitions there is an error when generating docstrings.

**To Reproduce**
Steps to reproduce the behavior:
1. Create multiline function definition.
2. Run doctoring generator.

**Expected behavior**
Generate docstrings for multiline function definitions.

**Out of `vim --version`**
VIM - Vi IMproved 8.1 (2018 May 18, compiled Jul 16 2019 03:25:28)
macOS

[2019-07-17 23:22] kkoomen commented on #9
Hi,

Can you provide me with the scenario of the python multiline definition?

[2019-07-18 04:23] wookayin commented on #9
e.g.:
[code]

`<Plug>(doge-generate)` should work at every line (L1-4).

[2019-07-18 05:01] kkoomen commented on #9
@wookayin Having the generator to work on line 1-4 will not happen. Multi-line is supported but you should generate it from the start of your expression (which is line 1 in your case)

My plugin generates documentation based on the expression. It's not a complete parser that can determine your context and adjust to it.

Your scenario should work if you generate it from line 1.

[2019-07-18 07:29] metalelf0 opened #10 "Mapping already exist on startup"
**Describe the bug**

When I start nvim, I get the following output:
[code]

However none of this mappings seem overridable with a configuration. What are they used for?

As a rule of thumb every plugin-exposed mapping should be overridable by the user via custom configuration.

Thanks and keep up the great work!

[2019-07-18 07:41] kkoomen commented on #10
Hi!

I had this one on my list already! Will fix it in 4 hours from now.

[2019-07-18 08:37] D4D3VD4V3 opened #11 "Inconsistent selection when Tabbing"
**Describe the bug**
After generating the skeleton using `<Leader>d` on a python function, when using Tab to switch to other editable parts, sometimes the entire contents of the square brackets is selected (which is what is desired so I can type in the text directly) or it just selects the opening square bracket. The behaviour is quite inconsistent and seems to be arbitrary.

**Settings**
If appli

[2019-07-18 08:46] D4D3VD4V3 commented on #11
Looks like it could be related to w0rp/ale's linting in the background.

[2019-07-18 09:13] ColtonKinstley commented on #9
Ah yes, the bug actually seems to be that the documentation is placed after the first line, instead of after the last. I have set

```let g:doge_mapping = '<LocalLeader>d'```
```let g:doge_doc_standard_python = 'numpy'```

On my machine:
[code]
results in
[code]
Thank you for creating and releasing this plugin I am excited to use it.

[2019-07-18 09:52] kkoomen commented on #11
Mhmm I am not having this locally. Can you make sure it is DoGe by disabling every plugin except doge?

[2019-07-18 09:55] kkoomen commented on #9
Ah, that is indeed a mistake! This will be on the high prio list to work on.

[2019-07-18 10:18] deeuu opened #12 "Support neovim?"
[code]
Any plans to support neovim?

Thanks for the plugin!

[2019-07-18 10:37] Qyriad opened #13 "Add support for Rust"
I was actually kind of surprised to see that neither is Rust supported, nor is there an open issue for it. Though admittedly I haven't really looked for Rust documentation Vim plugins, this particular plugin seems quite nice.
Rust has special documentation comments: `///` and `//!`. (It also supports markdown in its comments)

[2019-07-18 10:37] kkoomen commented on #12
We support NeoVim. Can you give me more information on which exact version you want to be supported?

[2019-07-18 10:40] kkoomen commented on #12
This might be a wrong check though. I'll look into it. We should support nvim 0.3.2+

[2019-07-18 10:42] kkoomen commented on #13
I can look into Rust. If you can tell me type of doc standard you want to be supported including a link towards the documentation of all available tags I can implement it eventually.

[2019-07-18 11:05] kkoomen commented on #10
These are the mapping defined [here](https://github.com/kkoomen/vim-doge#options). The ones being mapped already are the jump triggers and the backspace.

`<80>kB` = backspace
`^I` = Tab

[2019-07-18 11:06] D4D3VD4V3 commented on #11
Clashes with ale unfortunately... Disabling ale results in expected behaviour but I'd like to use ale alongside this. Will close this issue as it's not an issue with doge.

[2019-07-18 11:06] #11 closed

[2019-07-18 11:09] kkoomen commented on #10
This has been fixed in [v1.4.2](https://github.com/kkoomen/vim-doge/tree/v1.4.2). Thanks for submitting your issue. If you experience more issues, feel free to submit them here at the issue tracker.

[2019-07-18 11:09] #10 closed

[2019-07-18 11:29] kkoomen commented on #12
@deeuu It should be fixed now in [v1.4.3](https://github.com/kkoomen/vim-doge/tree/v1.4.3).

Please confirm towards me whether this issue has been fixed by now.

[2019-07-18 11:32] kkoomen commented on #11
@D4D3VD4V3 Mhm, weird. I'm using ALE locally as well. If you experience more trouble, recreate an issue and I'll look into it. Thanks for submitting!

[2019-07-18 11:42] D4D3VD4V3 commented on #11
In case this helps, here's my ale configuration:
[code]

[2019-07-18 12:29] kkoomen commented on #12
It was indeed a check that was wrong. It's fixed in [v1.4.3](https://github.com/kkoomen/vim-doge/tree/v1.4.3).

If you experience more issues, feel free to submit new issues.

[2019-07-18 12:29] #12 closed

[2019-07-18 12:56] deeuu commented on #12
Working - thanks for the quick fix!

[2019-07-18 13:17] kkoomen commented on #9
@ColtonKinstley The issue has been fixed in [v1.4.4](https://github.com/kkoomen/vim-doge/tree/v1.4.4) and I've added the multi-line scenario of you as a test as well.

Thanks for submitting your issue and providing feedback. If you experience more issues, feel free to submit new issues.

[2019-07-18 13:17] #9 closed

[2019-07-18 13:24] metalelf0 commented on #10
Thank you! :)

[2019-07-18 13:46] vigoux opened #14 "Bug with type annotations in python"
**Describe the bug**
I'm writing documentation for python using custom type hints modules of the form `my_module.foo.bar` and doge has problem handling this.

**To Reproduce**
Steps to reproduce the behavior:
With this example:
[code]

**Expected behavior**
[code]

**Actual Behavior**
[code]

**Out of `vim --version`**
[code]

[2019-07-18 13:54] tomeichlersmith opened #15 "Loading Error on vim 7.4"
**Describe the bug**
vim errors immediately after installation. I am assuming it is because I am working with an older version of vim, but I wanted to file a report just in case there is an easy fix.

**Settings**
I have the default settings. This error occurred immediately after installation.

**To Reproduce**
Steps to reproduce the behavior:
1. Using `vim-plug` to include doge.
2. Add `Plug 'kko

[2019-07-18 13:58] kkoomen commented on #14
Hi!

Thanks for submitting your issue. I've just fixed this in [v1.4.5](https://github.com/kkoomen/vim-doge/tree/v1.4.5). Feel free to submit any new issues if you experience more unwanted behavior.

[2019-07-18 13:58] #14 closed

[2019-07-18 14:00] vigoux commented on #14
Wow that was fast !
Thanks for this great plugin !

[2019-07-18 14:03] kkoomen commented on #15
Hi,

The plugin is using Vim 8.0.1630+ syntax and will not support below this version. Using vim 7 syntax will make things more difficult. I've tried to support it at the beginning but I dropped it since creating doge with Vim 7 was quite a hassle. I'm sorry.

Feel free to submit new issues if you're experiencing unwanted behavior.

[2019-07-18 14:03] #15 closed

[2019-07-18 14:05] kkoomen commented on #14
Haha, I just finished all the bugs and then you came in with this so why not ¯\_(ツ)_/¯

Thank _you_ for helping out!

[2019-07-18 14:11] idanarye opened #16 "Support using Doge as a backend for snippet plugins like Ultisnips"
**Is your feature request related to a problem? Please describe.**

[As mentioned in the README](https://github.com/kkoomen/vim-doge#jump-forward-trigger-requires-to-be-pressed-2-times-in-order-to-jump-forward), Doge's key bindings can interfere with Ultisnips. The various solutions are suboptimal - we should have a uniform snippets experience regardless of the snippet's source.

**Describe the so

[2019-07-18 14:23] kkoomen commented on #16
Hi

I do agree! I literally turned off UltiSnips locally because of the plugins clashing into each other, but the problem I've currently experienced is what I've described [in the README](https://github.com/kkoomen/vim-doge#jump-forward-trigger-requires-to-be-pressed-2-times-in-order-to-jump-forward).

I do think the problem is fixable, so I'll work on it tomorrow.

Is there any other unwanted beh

[2019-07-18 14:32] idanarye commented on #16
Actually, I'm using coc-snippets myself - I mentioned Ultisnips because you mentioned it as conflicting in the README. I've mapped `<C-j>` and `<C-k>` to forward and backward to have a similar behavior, but there are tiny differences that tend to irritate.

[2019-07-18 14:52] kkoomen commented on #16
Are you having any issues related to coc-snippets?

In DoGe or in coc-snippets?

Are they related to DoGe? If so, please note them down so I can check whether it's fixable by DoGe or not.

[2019-07-18 15:03] idanarye commented on #16
In DoGe - with coc-snippets these keys are the default.

My main irritation is that with DoGe typing `<C-j>` on the last placeholder creates a new line, and on coc-snippets it doesn't. I assume this is not really a conflict (because that's `<C-j>`'s behavior in insert mode when you don't deal with a snippet) and if I wasn't using coc-snippets I wouldn't mind because this behavior is kind of expect

[2019-07-18 22:17] rmatpd opened #17 "C++ params with namespaces have the namespace as docstring name"
The following is what was generated from a function with namespaces:

[code]

the "@param std TODO" is incorrect, and should instead be "@param string TODO"

[2019-07-18 23:11] kkoomen commented on #17
I need the whole function expression to debug this. Can you provide this?

[2019-07-19 01:12] kkoomen commented on #17
It should be `@param line TODO`, right? `string` is the type hint, but it should be the var name.

[2019-07-19 01:18] kkoomen commented on #17
This has been fixed in [v1.4.6](https://github.com/kkoomen/vim-doge/tree/v1.4.6).

Feel free to submit any new issues if you experience any unwanted behaviour in the future. Thanks for your contribution.

[2019-07-19 01:18] #17 closed

[2019-07-19 08:31] gbcreation opened #18 "Update of existing documentation"
**Is your feature request related to a problem? Please describe.**
DoGe is great to generate the docblock for a function that doesn't have already one. But when the signature of the function changes then (for example adding or removing parameters), the docblock cannot be automatically updated.

**Describe the solution you'd like**
It would be very useful to hit `<c-d>` again on the function to upd

[2019-07-19 08:52] steffenfritz opened #19 "Add support for Go"
Please add support for Golang

[2019-07-19 08:53] gbcreation opened #20 "Make documentation patterns configurable"
**Is your feature request related to a problem? Please describe.**
When I write docblocks manually in JavaScript source files, I write the description of functions without the @description prefix. I would like to have a way to configure DoGe to make the @description keyword optional.

**Describe the solution you'd like**
Provide global DoGe configuration variables to enable / disable some prefixes

[2019-07-19 09:05] vigoux opened #21 "Add Sphinx doc standard for python"
**Documentation standard**
Current `reST` doc standard does not conform to `Sphinx` one, is it possible to add it ?
https://sphinx-rtd-tutorial.readthedocs.io/en/latest/docstrings.html#the-sphinx-docstring-format

**How popular is the doc standard?**
- [ ] Not popular at all
- [ ] Some people use it
- [ ] Quite a lot of people use it
- [X] It's not the most popular one, but a good alternative
- [

[2019-07-19 09:45] kkoomen commented on #18
Hi,

I did have this version before I released DoGe publically and it worked well, yet there is no possibility to support every language I am currently supporting. The problem here is that languages like Lua heb `--` as a comment, so there is no differentiation between the start or end of a comment block. They basically use single-line comments.

Assume you have this initially:
[code]

So the actu

[2019-07-19 09:54] kkoomen commented on #19
I would like to support Go, yet when browsing through the GitHub trending page Go repositories and asking around in IRC chats people mentioned that they don't use a documentation standard when writing Go. They use a simple single-line comment to add some additional commentary but that's it.

If you can provide me with a doc standard that is being used in the Go community I am happy to support Go.

[2019-07-19 10:01] kkoomen commented on #21
I'll close this issue and will continue the discussion on #23.

[2019-07-19 10:01] #21 closed

[2019-07-19 10:23] kkoomen commented on #20
I prefer this one as well, yet I assumed jsdoc would require the `@description` tag (more info [here](https://jsdoc.app/tags-description.html)). Asking around in IRC chat let me to the conclusion that your request should be used. I'll adjust this right away. Both are correct according to JSDoc and I know that using the start of the comment block to write your description is the most used way by th

[2019-07-19 10:35] kkoomen commented on #20
I will remove the `@description` since that it the problem for you. If there's a big _need_ to configure the pattern globally through your vimrc I'll add it, but only if there's a big need for it by many people.

[2019-07-19 10:43] kkoomen commented on #20
The `@description` has been removed in [v1.4.7](https://github.com/kkoomen/vim-doge/tree/v1.4.7).

Feel free to submit any new issues if you experience any unwanted behaviour in the future. Thanks for your contribution.

[2019-07-19 10:43] #20 closed

[2019-07-19 12:13] kkoomen commented on #13
@Qyriad can you provide me with a doc standard? If you can't provide anything I will close this issue.

[2019-07-19 12:29] steffenfritz commented on #19
I'd suggest godoc (which is the standard): https://blog.golang.org/godoc-documenting-go-code

[2019-07-19 12:43] kkoomen commented on #19
@steffenfritz That standard is _exactly_ as I just described. They only use a single-line comment and do not use any tags in their comments.

I'll close this issue since Golang can't be supported by DoGe.

Feel free to submit any new issues if you experience any unwanted behaviour in the future. Thanks for your contribution.

[2019-07-19 12:44] #19 closed

[2019-07-19 16:13] vigoux commented on #13
There is not clear format, but guidelines are given [here](https://rust-lang.github.io/rfcs/1574-more-api-documentation-conventions.html#appendix-a-full-conventions-text).

[2019-07-19 16:35] rmatpd commented on #17
You're correct about my incorrect param name.  Thanks for the quick fix!

[2019-07-19 16:40] rmatpd opened #26 "C++ template for return value leads to failure to insert anything"
Hello again, another c++ request:

For a line such as:
[code]

My mapping does not trigger anything to be inserted.  I know my mapping is working because another one such as:
[code]

Works great!
[code]

Thank you again.

[2019-07-20 01:24] kkoomen commented on #26
One small note for your PR: Make sure to use back-ticks ``` ` ``` for code anything in GitHub. Second time I corrected your PR for this.

This issue has been fixed in [v1.5.2](https://github.com/kkoomen/vim-doge/tree/v1.5.2). I'm strictly allowing a certain type of characters within the regex and the part inside the angle bracket `<...>` did not allow the colon `:`. This might occur more often. Ju

[2019-07-20 01:24] #26 closed

[2019-07-20 01:42] kkoomen commented on #16
Since it's not possible in Vim to map two functions to the same keystroke I won't fix this for now. UltiSnips is overwriting DoGe so this can't be fixed from my side I think.

Feel free to submit any new issues if you experience any unwanted behaviour in the future. Thanks for your contribution.

[2019-07-20 01:42] #16 closed

[2019-07-21 16:47] gbcreation commented on #20
Thank you for removing the `@description` keyword.

[2019-07-21 17:08] gbcreation commented on #18
Thank you very for your detailed answer.

That's great news to know that you already developed this feature before. It think it is a must have feature to make DoGe even better. I understand that it could not be supported for a few languages. But as it would perfectly work for other ones, I think it would be a real shame to penalize them just because a few languages could not be supported. I strong

[2019-07-21 23:25] kkoomen commented on #18
@gbcreation excluding some languages would be an option. I can support a_lot_ of languages actually so I'll put it on my list again and will re-open this issue.

[2019-07-23 12:32] vigoux commented on #18
Hi, is this feature supported for python ? As python docstrings are delimited by `"""`, the problem you mentionned above seems not to apply (as delimiters are explicits).
I would be really great if it is !

[2019-07-24 07:02] vigoux opened #28 "Update existing docstring in python"
**Is your feature request related to a problem? Please describe.**
As mentionned in #18, it seems possible to implement the update of existing documentation for some languages (those who have clear delimiters for the documentation, like python)

**Describe the solution you'd like**
Kind of an update of the current documentation of the function, imo it seems possible for at least python and doxygen

[2019-07-24 07:11] kkoomen commented on #28
I'll look into it by the end of the week.

[2019-07-25 05:15] hydeik commented on #13
Hi,

I also would like to use this plugin with Rust.
Rust accepts the Markdown style comment for documentation.
We can find some examples of documentation comments in
- https://doc.rust-lang.org/book/ch14-02-publishing-to-crates-io.html
- https://doc.rust-lang.org/rust-by-example/meta/doc.html
- https://rust-lang.github.io/rfcs/1574-more-api-documentation-conventions.html#appendix-a-full-conventio

[2019-07-25 08:42] gbcreation opened #29 "Add support for JavaScript class properties"
Could you please add support for JavaScript class properties? Here are some examples.

**Example 1**

[code]

generated documentation:

[code]

**Example 2**

[code]

generated documentation:

[code]

**Example 3**

[code]

generated documentation:

[code]
**Example 4**

[code]

generated documentation:

[code]

[2019-07-25 11:31] JanikvA commented on #28
+1. Was about to create an issue for exactly this! would be super convenient and not to hard to implement imo.

btw loving this plugin so far =)

[2019-07-25 13:32] kkoomen commented on #13
@hydeik Thanks for your well done comment and further explanation.

I do have some further questions that don't seem to be clear to me yet:
- Is the empty line at the top needed? Looking at your links they do not prefix the doc block with an empty `///`. Is this needed?
- What's the name of the doc standard? From your links the name seems to be 'cargo' as the doc standard name. If this is right th

[2019-07-25 13:38] kkoomen commented on #28
Closing this because of duplicate. Further discussion can be held at #18.

[2019-07-25 13:38] #28 closed

[2019-07-25 13:56] kkoomen commented on #29
Sure. Will work on it. I'll also add support for:
- JavaScript + FlowJS
- TypeScript

The `classProperty` may be defined with a typing with FlowJS or in TypeScript, like so:
[code]

If this is the case, I'll use this type.

If this is not the case, I suggest to add `@type {[TODO:type]}` which you can jump to easily, since adding additional parsing is a lot of work to get all the scenario's right.

[2019-07-25 14:53] hydeik commented on #13
No, not necessary.

The name documentation style is Markdown. The lines including `/// # Keyword` are treated as a header. We can use arbitrary keywords here, (Arguments, Returns, Examples, Safety, Error, etc.)

If you need some convention used in vim-doge, `let g:doge_doc_standard_rust = 'rustdoc'` might be a proper choice (rustdoc is the name of a standard tool for processing documentation comme

[2019-07-26 14:59] kkoomen commented on #29
ES6 class properties are supported for JavaScript (including FlowJS) and TypeScript in [v1.9.0](https://github.com/kkoomen/vim-doge/tree/v1.9.0).

Feel free to submit any new issues if you experience any unwanted behaviour in the future. Thanks for your contribution.

[2019-07-26 14:59] #29 closed

[2019-07-27 15:01] testvimplugs opened #30 "Unnecessary whitespace in blank lines of python docstring"
**Describe the bug**
Blank lines in generated python docstrings contain leading whitespace. Most python linters will complain upon encountering this.

**Settings**
If applicable, describe your custom DoGe settings like so:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Place cursor on function definition
2. Trigger DoGe
3. Scroll down to any blank line within the generated docstring

[2019-07-27 15:15] kkoomen commented on #30
I won't consider this a bug, because it is behavior I added _on purpose_ since I thought this was expected behavior for how a python comment should be. I'll remove it right away.

[2019-07-28 00:30] gbcreation commented on #29
Awesome! Thanks a lot.

[2019-07-28 03:54] kkoomen commented on #30
This bug has been fixed and released in [v1.9.1](https://github.com/kkoomen/vim-doge/tree/v1.9.1).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-07-28 03:54] #30 closed

[2019-07-28 10:51] testvimplugs opened #31 ""self" is included in parameter section of method in python numpy docstring"
**Describe the bug**
When triggering DoGe in a python method, `self` is listed as one of the parameters to be documented. According to the [numpy docstring guide](https://numpydoc.readthedocs.io/en/latest/format.html#method-docstrings), `self` should not be included in there. Although not explicitly stated, I believe the same criteria applies for the google style as can be seen [here](https://goog

[2019-07-28 11:22] kkoomen commented on #31
As a python developer, I did doubt this myself as well. I agree with your statement. I'll remove it right away.

[2019-07-28 11:49] kkoomen commented on #31
This bug has been fixed and released in [v1.9.2](https://github.com/kkoomen/vim-doge/tree/v1.9.2).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-07-28 11:49] #31 closed

[2019-07-31 21:08] run2cmd opened #34 "Add support for Puppet"
Puppet docs are very simmilart ot YARD. Puppet uses something what is called [Puppet Strings](https://github.com/puppetlabs/puppet-strings), but I think best examples are [Here](#https://puppet.com/docs/puppet/5.5/puppet_strings_style.html)

Alternative would be to have different match regexp for Puppet only for YARD type.

[2019-07-31 23:27] kkoomen commented on #34
Please edit your issue using the correct [template](https://github.com/kkoomen/vim-doge/issues/new?assignees=&labels=enhancement&template=doc_standard.md&title=Add+%3Cdoc-standard%3E+doc+standard+for+%3Clanguage%3E).  After that I'm happy to help you.

[2019-08-02 06:55] run2cmd commented on #34
Sorry. I had to use wrong template.

[2019-08-02 06:55] #34 closed

[2019-08-02 06:59] run2cmd opened #35 "Add PuppetStrings(YARD) doc standard for Puppet"
**Documentation standard**
Puppet Strings

**How popular is the doc standard?**
- [ ] Not popular at all
- [ ] Some people use it
- [ ] Quite a lot of people use it
- [ ] It's not the most popular one, but a good alternative
- [X] Everyone is using it

It is strongly based on YARD: https://github.com/puppetlabs/puppet-strings. This is standard that Puppet code use. I think best examples are here:

[2019-08-02 13:25] kkoomen commented on #35
@run2cmd Is Puppet considered a framework or a new language? Since it uses ruby syntax and even uses `.rb` files. Can you explain a bit more about these parts?

[2019-08-05 06:33] run2cmd commented on #35
Puppet is a  open-core software configuration management tool that follow principle everything as a code. It was written in ruby at the beginning but now it has parts in Clojure and C++ also.

I would treat it as a new language however it is DSL not GPL. Puppet modules does use `.rb` files for Rspec tests, custom addons/plugins/facts, and `.erb` files for templates, however Puppet code files are `

[2019-08-05 07:30] kkoomen commented on #35
Do you suggest to use the `.pp` file extension or `.rb`?

[2019-08-07 05:58] run2cmd commented on #35
Yes `.pp` it should be. '.rb' Should be treated as Ruby(YARD) which DoGe already supports.

[2019-08-16 08:54] kkoomen commented on #18
Sorry that this is still not fixed. The problem I'm having is that I should be able to merge two multiline strings (doc blocks) together using a history algorithm that git has. I am trying to get this to work with git, since it's probably the best out there to merge _anything_. I've made a [stackoverflow](https://stackoverflow.com/questions/57497305/what-is-the-best-way-to-merge-two-files-together

[2019-08-26 06:57] jonathaw opened #36 "vim version"
Hi,

looks like an awesome plugin - thanks!
I'm getting this error when trying to install:

but my vim version is 8.0.456.

what am I doing wrong?

thanks!

[2019-08-26 07:28] kkoomen commented on #36
This error is self-explaining: you should update your Vim.

[2019-08-26 07:28] kkoomen commented on #36
This error is self-explaining: you should update your Vim.

[2019-08-26 07:28] #36 closed

[2019-08-26 13:45] idanarye opened #37 "DoGe does not generate javadoc comments for abstract methods"
**Describe the bug**
When I try to generate javadoc for body-less methods like in interfaces:
[code]

Or abstract classes:
[code]

I get the following error:
[code]

**Settings**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new buffer.
2.
[code]
3. Copy-paste this to the buffer:
[code]
4. Go to the second line.
5. Run DoGe.

**Expected behavior**

Javadoc comment above `foo`

[2019-08-26 14:14] idanarye opened #38 "Generated javadoc has types, which according to the standard shouldn't be there"
**Describe the bug**

DoGe puts the type information of arguments and returned value in the generated javadoc - but according to the standard it shouldn't.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new buffer.
2.
[code]
3. Copy-paste this to the buffer:
[code]
4. Go to the second line.
5. Run DoGe.

**Expected behavior**

DoGe should have generated a javadoc comment with only th

[2019-08-26 14:22] idanarye opened #39 "Generated javadoc has @return field for void methods"
**Describe the bug**
DoGe puts a `@return` fields on `void` methods - contrary to the javadoc standard.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new buffer.
2.
[code]
3. Copy-paste this to the buffer:
[code]
4. Go to the second line.
5. Run DoGe.

**Expected behavior**

DoGe should have generated a javadoc comment without any fields:

[code]

**Observed behavior**

DoGe generat

[2019-08-26 14:27] kkoomen commented on #37
This bug has been fixed and released in [v1.9.4](https://github.com/kkoomen/vim-doge/tree/v1.9.4).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-08-26 14:27] #37 closed

[2019-08-26 14:40] kkoomen commented on #39
This bug has been fixed and released in [v1.9.5](https://github.com/kkoomen/vim-doge/tree/v1.9.5).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-08-26 14:40] #39 closed

[2019-08-26 14:47] kkoomen commented on #38
I am surprised by this. I am not a Java developer in general, but I thought it explicitly required this.

<hr />

This bug has been fixed and released in [v1.9.6](https://github.com/kkoomen/vim-doge/tree/v1.9.6).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-08-26 14:47] #38 closed

[2019-09-05 12:21] akr-bpd opened #40 "Add support for c"
Hi,
awesome Plugin. Support for C would be very useful.
One heavily used style is  [kernel-doc comments]( https://www.kernel.org/doc/html/latest/doc-guide/kernel-doc.html) based on Sphinx.
Alternatively  the usual doxygen-c style would be just as awesome.

Examples:

functions:

[code]

structs:
[code]

Thank you!

[2019-09-05 14:50] bartlibert opened #41 "[c++] virtual and related functions not supported"
**Describe the bug**
In c++, function can be marked virtual. DoGe does not support them. When the "virtual" keyword is removed, everything works.
Also, a virtual function can be marked as "pure virtual" by appending "=0" after it. This is not supported either.
Finally, when a child class overrides a virtual function from its parent, it can/must be marked "override" or "final", this is not supporte

[2019-09-11 13:21] kkoomen commented on #16
@idanarye I think #44 fixed your issue. Can you confirm this?

[2019-09-11 17:27] greg-kent opened #47 "Add support for Golang"
**Is your feature request related to a problem? Please describe.**
Add Golang as a supported language

**Describe the solution you'd like**
To support GoDoc

**Describe alternatives you've considered**

**Additional context**

[2019-09-11 17:49] sigzero opened #48 "Add support for Shell"
https://google.github.io/styleguide/shell.xml#Comments

This could work for all types (BASH, SH, KSH, etc.).

[2019-09-11 20:24] greg-kent commented on #47
Saw the existing closed Go issues

[2019-09-11 20:24] #47 closed

[2019-10-23 13:45] sQVe opened #54 "Inconsistent documentation for JavaScript/TypeScript"
**Describe the bug**

The documentation generated for **JavaScript** and **TypeScript** files seems to be inconsistent and somewhat lacking. The following snippets should all provide the same documentation template:

[code]

Furthermore I would expect the template to include a `return` and that it's a `function`.

**Out of `vim --version`**
[code]

[2019-10-24 03:13] kkoomen commented on #54
The code you provided is what is currently being generated. Please provide the input and the expected output you would like to see.

I can add a `@return` by default when generating a function, if this is what you want. I'd agree with that. 9/10 times you're returning something in a function.

It uses the [`@function`](https://jsdoc.app/tags-function.html) where needed, although I am confirming th

[2019-10-24 03:23] kkoomen commented on #54
I just noticed that these:

[code]

are being parsed wrong. They should indeed match differently and generate different documentation. I will look into this.

[2019-10-24 07:19] sQVe commented on #54
@kkoomen Awesome. Tell me if you need any further information from me.

[2019-10-24 07:21] sQVe commented on #54
I just noted that `DoGe` does not handle a `class` that extends something with a `.`. See difference here:

[code]

[2019-10-24 13:38] kkoomen commented on #54
@sQVe Ah, nice catch. I forgot those scenarios. I'll fix those immediately as well.

[2019-10-24 14:57] kkoomen commented on #54
This bug has been fixed and released in [v1.14.0](https://github.com/kkoomen/vim-doge/tree/v1.14.0).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-10-24 14:57] #54 closed

[2019-10-25 06:22] sQVe commented on #54
@kkoomen So far a big improvement. I'll keep my eyes open for more inconsistencies. Cheers for the quick fix! :pray: :beers:

[2019-10-25 06:44] sQVe commented on #54
@kkoomen This exported rocket function does no longer work now: `export const foo = bar => true
`

[2019-10-25 13:59] kkoomen commented on #54
Interesting you call it a rocket function. I'm used to what the internet calls it: fat-arrow function.

<hr />

This bug has been fixed and released in [v1.14.1](https://github.com/kkoomen/vim-doge/tree/v1.14.1).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-10-26 21:50] AlxHnr opened #55 "C++ comment generation is broken"
**Describe the bug**

The following function has only one parameter named _count_. There should be no _index_ parameter in the comment string:

[code]

This function causes `:DogeGenerate` to do nothing:

[code]

`:DogeGenerate` does nothing on special constructors:

[code]

**Settings**

I used the `:DogeGenerate` command without any configuration.

**To Reproduce**

See examples in **Describe th

[2019-10-27 08:12] kkoomen commented on #55
Hi.

You're providing new use-cases that haven't been taken into consideration. I will try to add them in a week or more, since I'm super busy.

What exactly do you mean with _"libclang's python bindings"_ ?

[2019-10-27 09:03] AlxHnr commented on #55
The [Clang](https://clang.llvm.org) frontend provides a solid C and C++ parser with a [python interface](https://github.com/llvm-mirror/clang/tree/master/bindings/python). With these bindings you can pass the current file to a real compiler and query informations based on line and column numbers. E.g. you pass `main.cpp` and `line 25, column 11` to this library and it returns a tree-like data stru

[2019-10-27 14:40] kkoomen commented on #55
I have been thinking about this approach and I know the pain of stripping C languages with pure regex. I've got multiple suggestions to use something like libclang and I prefer a pure Vim Script plugin, but I know the value that DoGe can give to others once I've implemented a solid version of this.

I'll look into the libclang and will implement support for third-party tools where needed rather th

[2019-10-27 14:52] AlxHnr commented on #55
I don't know if the clang binary offers such functionality. The python interface gives you full access to everything.

[2019-10-27 15:00] kkoomen commented on #55
Can you check whether this is possible without the Python interface?

[2019-10-27 15:03] AlxHnr commented on #55
No. But I _assume_ that the clang binary provides a way to dump the syntax tree somehow, so you can parse it from vimscript. But it would probably be much more work than just using the python bindings.

[2019-11-01 15:10] kkoomen commented on #55
I setup basic C-development docker using the clang python binding and I've been able to strip everything from a function, hooray.

Input file:
[code]

I can now run my local script using: `./dump.py <file> <line>`, so if I run: `./dump.py file.c 1` then I get:
[code]

and if I run `./dump.py file.c 2` I get:
[code]

Unfortunately it's not able to parse functions with `::` in it. For example:
[code

[2019-11-01 15:44] AlxHnr commented on #55
I've ran into the same issue when I tried to use libclangs python bindings a few months ago. But this is the point where I gave up, so I can't help you here.

See my python 3 script for parsing this stuff. It takes the filename, line number and column number as arguments: `./script.py foo.cpp 38 17`.

[code]

Example C++ function for testing:

[code]

It always returns `CursorKind.NO_DECL_FOUND`,

[2019-11-02 01:30] kkoomen commented on #55
Thanks. I'll do some research.

[2019-11-02 06:45] kkoomen commented on #40
We're working on a good and stable implementation for the C-family, but we're a bit stuck at #55 using a python binding of clang. If you have any experience or want to help out, please do. At this moment we're stuck. If we fix this we can probably get a good C version running.

[2019-11-02 06:45] kkoomen commented on #41
We're working on a good and stable implementation for the C-family, but we're a bit stuck at #55 using a python binding of clang. If you have any experience or want to help out, please do. At this moment we're stuck. If we fix this we can probably get a good C version running.

[2019-11-02 12:32] kkoomen commented on #55
I find the issue. So my function declaration was the only thing in the file. The class itself with the function was not defined.

The following works:
[code]

[2019-11-02 14:52] kkoomen commented on #55
Update: I got a working version locally in vim-doge. After I finished the script I only had to make 2 slight adjustments to the plugin itself. Works perfectly now locally. I will push to a temporarily branch later to let you test some scenario's with me if you're okay with that. I'll let you know.

[2019-11-02 15:18] kkoomen commented on #55
@AlxHnr Can I assume that every C / C++ developer (or other C-languages) has libclang properly installed and the binary is also in their $PATH?

As in: if they would do:
[code]

then it will detect the libclang binary properly? Because I just downloaded llvm (MacOS) and I have to use `Config.set_library_path('/Library/Developer/CommandLineTools/usr/lib/')` for now to make it work.

[2019-11-02 22:01] AlxHnr commented on #55
No you can't. Just mention it as a dependency in the README, just like all other plugins which depend on libclang. Display a warning/error if it is not installed.

You don't need to add this library path to your plugin. Configure your python environment or MacOS instead. Don't ask me how, but this is not the job of a vim plugin.

There is a lot of C++ code out there which you can use for testing.

[2019-11-03 03:59] kkoomen commented on #55
I had to set `LD_LIBRARY_PATH` correctly. I'll mention this later in the README.

[2019-11-10 08:47] kkoomen commented on #55
Progress can be tracked via #56.

[2019-11-10 09:12] kkoomen commented on #40
Development progress for C++ can be tracked via PR #56. After #56 is done, support for C will be implemented immediately after it.

[2019-11-10 09:12] kkoomen commented on #41
Development progress for C++ can be tracked via PR #56.

[2019-11-14 14:24] kkoomen commented on #41
@bartlibert Can you provide me with clear documentation results that you'd expect in your code? If you have done that I can fix this immediately.

[2019-11-14 14:58] kkoomen commented on #55
@AlxHnr Everything is back to how it was in the regex version, but now it's using clang. Tests are updated and it works well for the scenario's that are tested. Can you do a checkout to `feature/clang` locally and then let me know if you come across weird situations or if everything works.

If everything works as expected then I will merge #56.

[2019-11-16 14:42] #55 closed

[2019-11-16 14:42] #40 closed

[2019-11-16 22:14] lpraneis opened #57 "libclang.py generator failed"
**Describe the bug**

When using doge on C++ comments, message about libclang.py failed. I have `libclang.so` in a symlink as described in the README.md file, and am able to use it in python, as shown below. Using neovim version 0.5.0 with python support. The comment generation worked fine before #56

[code]

On a generation, the following is opened in a buffer:

[code]

**Settings**

[code]

**Ou

[2019-11-17 03:56] kkoomen commented on #57
That's logical, because before #56 it tried to use pure regex, but since v1.15.0 it is using clang.

<hr />

To be honest, it's not up to me whether your local environment for C++ works or not, so you'd better ask in an IRC chat or anywhere else, but I'm willing to help you out as far as  I can. I'm not a C++ dev, but have knowledge about it to some extend.

To start with, you're using a dev versi

[2019-11-17 05:14] ranebrown opened #58 "Plugin conflicts with vim-sneak and vim-cool"
I ran into conflicts with a couple of plugins that interfere with the tab/s-tab mappings to highlight the next TODO entry and replace the selected text.
https://github.com/romainl/vim-cool
https://github.com/justinmk/vim-sneak

Using vim-sneak with the below mappings prevents the highlighted text from being replaced if any of the mapped characters are pressed.

[code]

Using vim-cool causes the ne

[2019-11-17 06:26] kkoomen commented on #58
That'd be logical, because you always map a specific character at any time, unless DoGe, where we only add/remove the mappings when you need it (which is during the generation of the comment). You can be more specific with your mappings by specifying it with the mode. I think it's enough for you to just map this for normal mode only using `nmap` instead of `map`.

The reason this happens is becaus

[2019-11-17 06:38] jbqxo commented on #57
I have the same problem with some functions, where the return type includes the `enum` or `struct` keywords.
In some cases, the `node.kind` is not `FUNCTION_DECL`, as it should be, but `ENUM_DECL` or `STRUCT_DECL`.
For example, I have the following output for a broken function if I insert `print(node.kind)` at `generators/libclang.py:161`

[code]

The problem seems to be that when clang “sees” `en

[2019-11-17 06:55] kkoomen commented on #57
@jbqxo  I understand your problem. Is it possible for the `enum Foo foofunc();` to also have parameters? For example: `enum Foo foofunc(int x, int y);`.

Another question is: should this be fixed from my side or this something that you should fix locally? It uses clang and clang requires valid syntax in order to parse it correctly.

[2019-11-17 08:33] jbqxo commented on #57
Yes, it works fine if these parameters do not contain structures, enumerations etc. which were not defined, nor declared in the current file:
[code]

To be honest, I do not see anything that I can do from my side. Only to type in all the declarations necessary for the function before it:

[code]

But this is tedious for functions  that will take several of these arguments.

The problem is that the

[2019-11-17 08:58] kkoomen commented on #57
Mhm, maybe I did something that is not that good. In the libclang.py file I am grabbing the contents of the current vim buffer, then I make a temporarily file (which on MacOS will result in something like`/var/folders/sr/dwq02b5x0sj3s_bwn8rgkg100000gn/T/tmp7qeutnbi.cpp` or on linux distributions on `/tmp/myfile.cpp`, but because this file is outside of the project root, clang is probably not able

[2019-11-17 09:27] kkoomen commented on #57
@jbqxo I do confirm that the above thing I mentioned it fixing it. If I run your code with the current master branch code, it gives me this (same as you mentioned):

Input:
[code]

output:
[code]

and if I adjust libclang.py create the temporary file in the same directory as the vim buffer, I do get:

[code]

I will push this to master immediately, since this already proved the me that this should

[2019-11-17 09:31] kkoomen commented on #57
@jbqxo Can you pull locally to the latest version and test it out? This seems like a good fix.

[2019-11-17 10:58] jbqxo commented on #57
Can confirm that it helped on provided example, but on the project I'm working on now, it gives the same errors (but only 2) and irrelevant results.
Well. I can reproduce it with a simple example, but not quite sure what is going on:
[code]

Output:
[code]
I have no idea why.

But about your solution:
I do not think that this will be enough. The problem is that to use a dependency with C/C++, you

[2019-11-17 11:15] jbqxo commented on #57
About the last part of my previous message.
Consider the following quick change at `generators/libclang.py:158`
[code]

Then it works for this code:
[code]

[2019-11-17 12:11] kkoomen commented on #57
I do get different results. I added the `test.h` and simply generated the results. These are my results, it properly detects it's an enum, but I haven't added `ENUM_DECL` yet to be supported, but atleast it detects it properly. How come it can't recognize it in your local environment?
[code]

[2019-11-17 12:46] jbqxo commented on #57
Sorry, seems like a problem with my system (ArchLinux, glibc, clang 9.0.0, nvim 0.4.3).
Can't reproduce the problem on another system (MacOS 10.15.1, apple's libc, clang 9.0.0, nvim 0.4.3).
Well, never mind then, I will look into it later.

[2019-11-17 13:21] kkoomen commented on #57
Okay. I will close this issue for now. If you experience new problems, feel free to make a new issue.

[2019-11-17 13:21] #57 closed

[2019-11-17 13:33] jbqxo commented on #57
And about the indexing problem:
Would it be difficult to add something like an array (e.g. `g: doge_clang_extra_args`) of additional arguments for clang that would be passed directly to `clang.cindex.Index.parse(args=[...])`?

Together with plugins like [Localvimrc](https://github.com/embear/vim-localvimrc#localvimrc), this will be a good and easy workaround without much hassle.

[2019-11-17 13:43] kkoomen commented on #57
That is indeed a useful option. If you create a new feature request for this I will work on this later this day.

[2019-11-17 15:34] kkoomen commented on #57
@jbqxo Merged this into master. You can use `g:doge_clang_args`.

[2019-11-18 14:33] cansurmeli commented on #48
Hey.

Yes, the fact that bash functions doesn't have arguments is one of the downsides of bash scripting for me. It's irritating and I get your point regarding not providing `vim-doge` support but yet again, doesn't it make sense to comment our bash functions and at least provide the input/output inside the documentation section.

I think the resource provided by @sigzero has a good example:

[cod

[2019-11-18 14:44] kkoomen commented on #58
This bug has been fixed and released in [v1.15.3](https://github.com/kkoomen/vim-doge/tree/v1.15.3).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-11-18 14:44] #58 closed

[2019-11-18 14:57] kkoomen commented on #48
@cansurmeli I will re-consider implementing this if you can find me a proper styleguide that could cover this, or you can be the first one to create a proper bash styleguide and then I'd be honored to immediately implement it. I need a name for the styleguide for my plugin, that's why I'm asking as well. If you want to create your own styleguide (since I can't recall that I've find a bash stylegui

[2019-11-18 15:06] kkoomen commented on #48
Another thing: Google displays a very random amount of `#` characters on the top and bottom of the comment. I suggest we use an exact amount of 80 like doxygen for C as well.

[2019-11-18 15:23] kkoomen commented on #48
Also, how does Google display arguments for a function?

For example, I accept two arguments, should I write something like this?

[code]

[2019-11-18 15:28] sigzero commented on #48
That's probably how I would do it.

[2019-11-18 15:32] kkoomen commented on #48
Agree. That'd be logical for me to use that notation.

This is what I have locally already as generated results:

[code]

If both of you @sigzero and @cansurmeli agree with this then I'll write tests and submit this right away.

[2019-11-18 15:33] sigzero commented on #48
That works for me.

[2019-11-18 15:53] kkoomen commented on #48
This feature has been merged and released in [v1.16.0](https://github.com/kkoomen/vim-doge/tree/v1.16.0).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-11-18 15:53] #48 closed

[2019-11-19 07:34] cansurmeli commented on #48
I think this is a great addition. It's well worth it. Thank you for your efforts and expedited act.

[2019-11-19 10:09] tversteeg opened #60 "Add support for custom documentation"
At my work we use a custom documentation format for Lua and C++. I would like to be able to support this.

My suggestion is to add a custom format similar to snippets.

[2019-11-19 13:35] kkoomen commented on #60
Mhm, very interesting feature which could also improve the plugin itself, because now I'm using an array of patterns per filetype, but maybe I can use something like snippets for the base of the plugin which can be extended by the user itself.

I'll work on it.

[2019-11-25 08:46] ObserverOfTime opened #61 "Python docstring shouldn't include cls"
**Describe the bug**
DoGe filters `self` in Python functions (#31), but not `cls`.

**To Reproduce**
1. Create a Python class.
2. Add the `__new__` method.
3. Add a `cls` argument to it.
4. Generate the docstring.

**Expected behavior**
I expected the generated docstring to not contain `cls`. Although it can often be a valid argument, it should at least be filtered in the `__new__` magic method.

[2019-11-25 12:39] kkoomen commented on #61
@ObserverOfTime Do you know any other aliases people give to it? Then I'll cover all of them at once.

[2019-11-25 13:44] ObserverOfTime commented on #61
I've seen some people use `klass`.

[2019-11-25 14:00] kkoomen commented on #61
This bug has been fixed and released in [v1.17.1](https://github.com/kkoomen/vim-doge/tree/v1.17.1).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-11-25 14:00] #61 closed

[2019-11-25 23:56] avahe-kellenberger opened #62 "Unable to generate TypeScript documentation"
**Describe the bug**

With the default configuration, I am unable to generate documentation for Typescript (*.ts) files. I created a new file, wrote a single class with a single function, hovered over the function, and pressed `<Leader>d`. Nothing happens.
As a side note, this same scenario works just fine for javascript files.

**Settings**

Settings are default.

**To Reproduce**

Steps to repro

[2019-11-26 00:41] kkoomen commented on #62
This bug has been fixed and released in [v1.17.2](https://github.com/kkoomen/vim-doge/tree/v1.17.2).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-11-26 00:41] #62 closed

[2019-11-26 16:29] xorob0 opened #63 "Implement tsdoc"
It would be cool to implement tsDoc (https://github.com/Microsoft/tsdoc) to automatically generate types from the code

[2019-11-27 00:30] kkoomen commented on #63
Please create an issue with the "doc standard" template.

[2019-11-27 00:31] #63 closed

[2019-11-27 07:15] avahe-kellenberger opened #64 "[Typescript] Optional parameters add the type as another parameter in doc string"
**Describe the bug**

When a function has an optional parameter (depicted with `?`), the type information (such as `string`) will be added as a separate parameter in the doc string.

**Settings**

Default settings.
EDIT: Note, I am using branch `v1.17.2`

**To Reproduce**

Steps to reproduce the behavior:
1. Create a sample file as described below
2. Genereate documentation
3. Observe `string` bei

[2019-11-27 07:39] kkoomen commented on #64
Hi there. The issue here is indeed the question mark. I'll fix this in a few hours.

[2019-11-27 15:26] kkoomen commented on #64
This bug has been fixed and released in [v1.17.3](https://github.com/kkoomen/vim-doge/tree/v1.17.3).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-11-27 15:26] #64 closed

[2019-12-01 08:41] avahe-kellenberger opened #66 "Generated typescript doc has `return` field for void functions"
**Describe the bug**

Documentation generated for functions with a return type of `void` will generate `@return {void} [TODO:description]` inside the doc comment.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a function with a return type of `void`
2. Generate the doc comment

**Expected behavior**

I would expect there to be no `@return` line at all for void functions.

**Screensh

[2019-12-01 12:55] kkoomen commented on #66
This bug has been fixed and released in [v1.17.4](https://github.com/kkoomen/vim-doge/tree/v1.17.4).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-12-01 12:55] #66 closed

[2019-12-02 00:31] avahe-kellenberger opened #67 "private functions in TypeScript do not generate documentation"
**Describe the bug**

Documentation will not be generated for private functions

**To Reproduce**

Steps to reproduce the behavior:
1. Create a function as indicated below
2. Attempt to generate documentation

**Expected behavior**

Documentation will be generated

**Example Function**
[code]

**Out of `vim --version`**

[code]

[2019-12-02 14:06] kkoomen commented on #67
This bug has been fixed and released in [v1.17.5](https://github.com/kkoomen/vim-doge/tree/v1.17.5).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-12-02 14:06] #67 closed

[2019-12-04 12:20] resolritter opened #68 "Avoid type redundancy in TypeScript"
**Is your feature request related to a problem? Please describe.**

When generating documentation with JSDoc for TypeScript, it's redundant to add the type to the comments because they are already specified in the functions' signatures. In the editor, the IDE integration tells us so:

![image](https://user-images.githubusercontent.com/17429390/70141424-cdebf880-1675-11ea-8697-265f457579a1.png)

As

[2019-12-04 16:12] kkoomen commented on #68
I do agree with the redundancy. For me it would be more logical to add the type if the type is not listed in the parameter itself, otherwise we can remove it. Would that be an idea?

Regarding the TSDoc, love to support it but as you said, it's heavily discussed so it's better to wait for a while now.

[2019-12-04 17:09] resolritter commented on #68
Your idea is even better than what I was imagining @kkoomen !

If it's not too much trouble, you could omit those type annotations only through a configuration variable, leaving the default as it is currently. That warning is coming from [tsserver](https://github.com/Microsoft/TypeScript/wiki/Standalone-Server-%28tsserver%29) and some people might not have it enabled, so it's maybe not an issue fo

[2019-12-06 02:44] kkoomen commented on #68
I think I should. Some prefer it, some don't.

Since we're doing quite a big rewrite at the moment (see #65) all features will be done after #65 has been merged.

[2019-12-18 06:58] zordsdavini opened #71 "can't configure php to get docblock"
Installed doge via Plug. Tool itself works - tried with python but I can't get it working for php. Maybe there should be some additional installs? Thought about PhpDocumentor2 but DoGe didn't start working

[2019-12-18 07:15] kkoomen commented on #71
Hi. Every language, besides C or C++, will work out-of-the-box without the use of third party. Only C and C++ require third part libs. You can simple do this:

[code]

Keep your cursor at line 1 here and press `<Leader>d`. It should give you something like this:

[code]

[2019-12-18 07:16] kkoomen commented on #71
If you can't get it to work, then I suggest you paste your code here you try to generate documentation for. Maybe you have found a scenario that doesn't generate properly.

[2019-12-18 09:39] zordsdavini commented on #71
[code]
I removed return type and it started working. Is there possibilities to show return type. And maybe there is example how template can be adjusted: I don't need all helper texts and params should be tabbed, space before return. And as I understand Exceptions are not shown, too

[2019-12-18 09:41] zordsdavini commented on #71
the result what I want is
[code]

[2019-12-18 10:29] kkoomen commented on #71
Ah, yeah, since a recent php 7 version it's possible to add return types, which hasn't been supported. I'll add support for this after #65 has been merged.

[2019-12-28 03:52] #60 closed

[2019-12-28 04:33] kkoomen commented on #71
This feature has been merged and released in [v2.1.0](https://github.com/kkoomen/vim-doge/tree/v2.1.0).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2019-12-28 04:35] #71 closed

[2020-01-01 00:15] resolritter opened #72 "Support detection of nested syntax blocks"
**Is your feature request related to a problem? Please describe.**

[vim-markdown](https://github.com/tpope/vim-markdown) supports fenced language blocks.

vim-doge currently relies on `&filetype` to match a generator. It'd be nice if it could detect the syntax inside of nested languages blocks. See the screenshot below: `&filetype` is **Markdown**, but my cursor is currently inside of a **TypeScr

[2020-01-01 00:26] resolritter opened #73 "Support language aliases"
**Is your feature request related to a problem? Please describe.**

related to #72 - Ideally it would depend on the syntax of where the cursor is, not `&filetype`.

vim-doge currently [matches the generator using `&filetype`](https://github.com/kkoomen/vim-doge/blob/80d25f7ad697defde4ea1e73d059711d239229fb/autoload/doge/pattern.vim#L52). This is a problem for some languages because [they sometimes

[2020-01-01 06:01] kkoomen commented on #73
This doesn't make sense, since block-based syntax is determined by filetype and not by "language".

<hr />

I'll implement this since it's fixing a current issue at the same time. The future variable will be `g:doge_filetype_aliases` where as the `key` will be your main filetype and the `value` should be a list of 1 or more filetypes which will be aliases of the `key`. Example:

[code]

If you use

[2020-01-01 08:30] kkoomen commented on #73
This feature has been merged and released in [v2.2.0](https://github.com/kkoomen/vim-doge/tree/v2.2.0). See the [g:doge_filetypes_aliases](https://github.com/kkoomen/vim-doge/tree/v2.2.0#gdoge_filetype_aliases) section in the README with what is supported by default.

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-01-01 08:30] #73 closed

[2020-01-09 14:28] anstadnik opened #74 "Compile-commands.json support"
**Is your feature request related to a problem? Please describe.**

For complex C++ projects using a single parameter for compile arguments is not enough. They can be pretty big and complex or vary for different files.

**Describe the solution you'd like**

I would like to see an option for going back to the simpler regex parsing methods, or the way to use a more comprehensive way of providing the

[2020-01-13 06:22] kkoomen commented on #74
Hi.

C languages are not going back to regex since parsing C with regex is a hell. I'm more than happy to support compile_commands.json, but is this a common file to use? Or did you just made up this name and assumed that JSON format would probably suit it?

[2020-01-13 14:00] anstadnik commented on #74
Hi.

No, I did not make that up :) You can read about that format more [here](https://cmake.org/cmake/help/v3.5/variable/CMAKE_EXPORT_COMPILE_COMMANDS.html) or [here](https://clang.llvm.org/docs/JSONCompilationDatabase.html). This is the most common way of providing info about compilation options for C/C++ files, for example, in [Language Server Protocols](https://github.com/MaskRay/ccls/wiki/Proj

[2020-01-14 06:13] kkoomen commented on #74
A few quetions regarding this:
- Is it possible that a project contains both keys?
- Can you provide me a real-life example from both the `arguments` and `command` keys how those would look like when given to clang? I suggest you take [this example](https://sarcasm.github.io/notes/dev/compilation-database.html#what-is-a-compilation-database) as input, convert them to how clang expects these and pa

[2020-01-14 10:56] anstadnik commented on #74
I am not sure, but I think it depends not on the project but on the tool which created `compile_commands.json`. I can say that I haven't seen that both keys were presented at the same time.

I would not say that I'm a guru either, but I'll try my best to help you. Speaking about [that example](https://sarcasm.github.io/notes/dev/compilation-database.html#what-is-a-compilation-database):

[code]
Th

[2020-01-23 07:20] zordsdavini opened #75 "example of custom template"
Thank you for your plugin :) It helps a lot.
Can you give example or even  better document how to add custom template. For example, in php I don't need part of [TODO:description], I need new line between paramteres and return type, and I would like to have parameters tabbed

[2020-01-26 04:55] kkoomen commented on #75
You can use the [DogeCreateDocStandard](https://github.com/kkoomen/vim-doge#dogecreatedocstandard-doc_standard) command to start a custom doc standard or extend an existing one.

Please read [Writing your first pattern](https://github.com/kkoomen/vim-doge/blob/master/CONTRIBUTING.md#writing-your-first-pattern) and other sections below this section to know how to properly setup a pattern. It should

[2020-01-26 04:55] #75 closed

[2020-01-27 11:35] 3rd opened #76 "Error for typescript.tsx buffers"
**Describe the bug**

When trying to generate documentation for a function in a `typescript.tsx` buffer, the following error appears:

[code]

Related to: https://github.com/kkoomen/vim-doge/issues/73

**Settings**

[code]

**To Reproduce**

1. Open a `file.tsx` (`typescript.tsx`)
2. Try to generate the documentation of a function
3. Notice the error

**Expected behavior**

No error

**Screenshots

[2020-01-27 12:41] kkoomen commented on #76
It's a problem on my side. I will fix it today somewhere and I will add `typescript.tsx` to the default list of supported aliases. This should be supported by default and should not be set by you.

[2020-01-28 06:51] kkoomen commented on #76
This bug has been fixed and released in [v2.2.1](https://github.com/kkoomen/vim-doge/tree/v2.2.1).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-01-28 06:51] #76 closed

[2020-01-28 16:33] d-karl commented on #74
I really like this idea, and I always wanted to have something like this, so I am in the process of building this. Expect a pull-request in the near future, I have most of this solved already.

[2020-01-28 19:27] scottbolte opened #77 "Add exceptions to Python function API template"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
With python, DoGe determines a function's parameters and creates the API template accordingly. It would be great if it could also look for the `raise {exception_type}` statements in the function and use that to populate a **Raises** section.

**Describe alternatives you've considered**
Cont

[2020-01-29 02:40] kkoomen commented on #77
Can you provide example input with expected output of what you exactly want?

[2020-01-29 03:04] kkoomen commented on #74
Sure.

[2020-02-12 20:25] d-karl commented on #74
Opened pull request: https://github.com/kkoomen/vim-doge/pull/78

It's far from perfect, but works reliably for generating function documentation, which is my main use case. In the worst case, it demonstrates how usage of the compile database through the python clang api is possible. Sadly, I am in no position where I am using this functionality extensively in my day to day dealings, so any furthe

[2020-02-17 20:39] filipekiss opened #79 "Generator not working on functions that accepts type arguments (TypeScript)"
First of all, DoGe is great and it works perfectly 99% of the time. Thank you so much for your hard work!

Generally I don't have an issue with TypeScript, except when I'm writing functions that accept type arguments:

[code]

When this is the case, the generator doesn't work at all. If I remove the type arguments, it works as expected:

[code]
**Settings**
[code]
**To Reproduce**
Steps to reprodu

[2020-02-18 03:06] kkoomen commented on #79
Hi. Thanks for your compliment about DoGe. It has been appreciated.

I pushed a fix, including passing tests, to the master branch. Can you let me know if you come across any other scenarios? I've fixed your scenario and kept using jsdoc standards.

This is the result I get locally now:
[code]

although I am not sure if ` * @param {(xs: MapItem) => Boolean} x - [TODO:description]` should be ` * @p

[2020-02-18 09:31] filipekiss commented on #79
I think keeping the `=>` is ok, since that's how we type the function signatures, usually. I just tested and everything seems to be working as intended. Thanks for your quick response!

[2020-02-18 10:15] kkoomen commented on #79
Awesome. I will release a new version immediately.

[2020-02-18 10:15] filipekiss commented on #79
Thank you so much :D I'll close the issue since it's resolved!

[2020-02-18 10:15] #79 closed

[2020-02-18 10:17] kkoomen commented on #79
This bug has been fixed and released in [v2.2.2](https://github.com/kkoomen/vim-doge/tree/v2.2.2).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-02-18 18:32] bstaint opened #80 "Undefined variable: b:doge_supported_doc_standards"
**Describe the bug**
[code]

**Settings**

**To Reproduce**

Steps to reproduce the behavior:
1. open unsupported file(1.vim), press `<Leader>d`

**Expected behavior**

**Screenshots**

**Out of `vim --version`**

[2020-02-19 07:41] kkoomen commented on #80
This bug has been fixed and released in [v2.2.3](https://github.com/kkoomen/vim-doge/tree/v2.2.3).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-02-19 07:41] #80 closed

[2020-02-19 07:47] bstaint commented on #80
Tks.

Is it repeat?
https://github.com/kkoomen/vim-doge/blob/50efe22af6b677acc7d5645da75a5a47b056b729/autoload/doge.vim#L31

[2020-04-15 19:53] levihb opened #83 "Add support for C# XML documentation"
**Is your feature request related to a problem? Please describe.**
Add support for C# XML documentation.

**Describe the solution you'd like**
I'd like to see the ability to generate C# XML documentation. Especially since with the open sourcing and much more relaxed licensing of .NET and C#, it has been growing in popularity on linux and macOS recently. Microsoft also plans to homogenise the ecosy

[2020-04-16 12:27] kkoomen commented on #83
Hi,

Thanks for the proper explanation and given details. I am a bit busy recently, so I might not have a lot of time.

Some favors I'd like to ask from you:

- Can you provide example scenarios? You can  have a look at the [playground](https://github.com/kkoomen/vim-doge/tree/master/playground) folder to get an idea. I'd like to see examples of a function with the expected doc block with it. I'll

[2020-05-12 15:11] samkatt opened #85 "Python DogeGenerate documentation indentation"
**Describe the bug**

`DogeGenerate` does not adapt to function indentation when next line is empty in python.

Calling `:DogeGenerate` on a function will generate the (correct) string documentation with (sometimes incorrect) zero indentation. This seems to only happen if the next line is empty --- If the next line contains code with the correct indentation then Doge works as expected

**Settings*

[2020-05-15 13:49] kkoomen commented on #85
This bug has been fixed and released in [v2.2.9](https://github.com/kkoomen/vim-doge/tree/v2.2.9).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-05-15 13:49] #85 closed

[2020-05-29 14:29] esetnik opened #86 "Doesn't work with `export default` js syntax"
**Describe the bug**

// Test.tsx
[code]

**Settings**
None

**To Reproduce**
Steps to reproduce the behavior:
1. Create a tsx file like above
2. Bring cursor to `Test`
3. \<leader\>f
4. Nothing happens
5. Delete export default
6. Bring cursor to `Test`
7. \<leader\>f
8. Correct documentation block is generated

**Expected behavior**
Should behave the same way whether or not `export default` is us

[2020-05-29 15:55] kkoomen commented on #86
This bug has been fixed and released in [v2.4.1](https://github.com/kkoomen/vim-doge/tree/v2.4.1).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-05-29 15:55] #86 closed

[2020-05-29 16:35] esetnik commented on #86
Thanks for the quick fix. I confirmed it's working well now.

[2020-06-03 18:56] comfortablynick opened #87 "Allow option to generate template to scratch buffer instead of editing ftplugin"
**Is your feature request related to a problem? Please describe.**
I do not have my vim/nvim files under ~/.vim, so the current command creates a file in the wrong place.

**Describe the solution you'd like**
I would like the template to be opened in a scratch buffer. I don't like the idea of a plugin editing my ftplugin files. Failing that, I would at least like to be able to customize the path.

[2020-06-04 01:06] kkoomen commented on #87
Hi,

where do you keep your vim files then if it's not in ~/.vim? And what would be the reason for you to *not* use ~/.vim or ~/.nvim?

[2020-06-04 15:59] comfortablynick commented on #87
I primarily use nvim; mine are located at ~/.config/nvim. That works well for me because most of my ~/.config folder is in my dotfiles repo.

[2020-06-05 04:03] kkoomen commented on #87
What about just adding a symlink `ln -s ~/.nvim ~/.config/nvim`? This would fix your problem, right?

[2020-06-05 15:29] comfortablynick commented on #87
Obviously I could; I guess it would be nice if DoGe could load the template in a scratch buffer and not try to edit my ftplugin files. I can't think of any other plugins that do this.

If you're interested I can send a PR with an option for it, if not feel free to close.

[2020-06-05 15:43] kkoomen commented on #87
Actually, there's no reason to write it indeed. I only need to remove the write command and remove that is pre-created the directory path. I think that'd be okay to support.

[2020-06-05 15:46] kkoomen commented on #87
Pushed to master. Can you test it and let me know? If so I'll do a new release.

[2020-06-05 18:11] comfortablynick commented on #87
Thanks, great solution! Works fine when I try it.

[2020-06-05 18:11] #87 closed

[2020-06-06 01:33] kkoomen commented on #87
This feature has been merged and released in [v2.4.2](https://github.com/kkoomen/vim-doge/tree/v2.4.2).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-07-08 06:20] zordsdavini opened #89 "php short classpaths and allow null"
How to make in phpdoc params not in full class path?
Example DoGe generates:
[code]
But I want to get it:
[code]
because Project is already imported (`use App\Entity\Project;`)

Thanks for help ;)

[2020-07-08 06:22] zordsdavini commented on #89
together with phpcsfixer I already solved `@param` alignment and empty line before `@return`

[2020-07-08 07:03] kkoomen commented on #89
DoGe will convert the function type to its FQN unless it's an alias. I know there's some discussion around this. Drupal and Magento both highly prefer to use its FQN for better readability and clarity which I highly agree on.

Drupal: https://www.drupal.org/docs/develop/standards/api-documentation-and-comment-standards#types
Magento: https://github.com/magento/magento2/issues/872#issuecomment-6809

[2020-07-10 11:32] zordsdavini commented on #89
But the part with ?Project -> Project|null is not working

For other thing I can't agree because it is politics of company. But maybe you can suggest how to change FQCN in vim, maybe rewrite some function?

[2020-07-10 11:57] zordsdavini commented on #89
I did (mostly copied from php.vim) own template and removed all TODO parts (slots to add docs) because we don't use that. And maybe I can add something here to have short classpaths

[2020-07-10 14:20] kkoomen commented on #89
Oh, I didn't see the question mark indicator. I will put it on the list then as well. easy to do this one. Which PHP version did support this?

What do you mean here? And what is FQCN?

Then what's the point in adding a docblock if you only have `@param` and `@return`, without having any description and/or summary? Then just don't add a docblock.

DoGe is made for what the majority of developers u

[2020-07-10 15:03] zordsdavini commented on #89
From 7.1 https://www.php.net/manual/en/migration71.new-features.php

Full Qualified Class Name :) /a/b/c/ClassName -> ClassName.

as I said this is politic to have docblocks on all methods. If type is not declared in method then I have [TODO] for param but descriptions are needless. I you need to add it it means your method name is wrong. It's philosofy :D
From next version php 8.0 you will be abl

[2020-07-12 03:48] kkoomen commented on #89
In a lot of scenario's this can be the case, yes, but there are moments where a simple parameter name can't describe the purpose of it. Unless you make an insanely long parameter name, keeping the name more short and adding additional explanation is much better and used by almost any dev.

[2020-07-12 07:50] kkoomen commented on #89
Since the link you mentioned is mentioning the following is possible:

[code]
I will allow `?` in the parameters. I won't transfor it to `|null`.

[2020-07-12 08:41] kkoomen commented on #89
I did add a configurable `resolve_fqn` option that you can add into your `.vimrc`, see [README](https://github.com/kkoomen/vim-doge/tree/8690ad#php)

[2020-07-12 11:16] kkoomen commented on #89
@zordsdavini Could you check the empty line I've added + the new `resolve_fqn` option? If you agree on both then I'll release a new version.

[2020-07-13 06:15] zordsdavini commented on #89
@kkoomen you are awesome :) `resolve_fqn` works super.
`?Foo` is wrong format in phpdoc. It should be `Foo|null`. https://docs.phpdoc.org/latest/guides/types.html (search for `null`)

[2020-07-13 11:39] kkoomen commented on #89
I presume you're referring to https://docs.phpdoc.org/latest/guides/types.html#multiple-types-combined? It doesn't specifically states that `?Foo` should be `Foo|null`, but I'm fine with implementing it.

[2020-07-13 12:25] kkoomen commented on #89
@zordsdavini Besides the parameter alignment, all your suggestions have been resolved.

I don't think the parameter alignment will be in there because it requires quite a lot of work and I don't have that right now.

I'll close this for now. Feel free to open new issues with ideas or unwanted behavior.

<hr />

These features have been merged and released in [v2.5.0](https://github.com/kkoomen/vim

[2020-07-13 12:25] #89 closed

[2020-07-13 13:53] zordsdavini commented on #89
for param types this works grate, but for return type sadly nope :-/

[2020-07-24 10:36] CrunchyFlakes opened #90 "Wrong Java parameters created"
Hi everyone,

I have this strange bug now for a few months and have no clue whats going on. vim-doge is not able to detect the parameters for the function and takes the "throws"-statement and some words out of the method body. I dont really know whats going on and I have the up to date version of vim-doge without any custom settings. This bug does happen everytime I try to use vim-doge.
Maybe the

[2020-07-24 12:21] kkoomen commented on #90
Hi,

This is obviously a parsing issue on our side where we didn't take into account these types of methods, so the body is looking very odd. I'll fix it this evening.

[2020-07-24 12:27] kkoomen commented on #90
Thanks for reporting the issue. Next time don't hesitate or doubt yourself. If you doubt things, just make an issue immediately and I'll look into it.

[2020-07-24 15:40] kkoomen commented on #90
This bug has been fixed and released in [v2.5.1](https://github.com/kkoomen/vim-doge/tree/v2.5.1).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-07-24 15:40] #90 closed

[2020-07-24 16:00] CrunchyFlakes commented on #90
Thank you, that was really fast :)

[2020-07-24 16:06] kkoomen commented on #90
@CrunchyFlakes I forgot to add the description contexts to the  `@throws` tags, so I just added that. Should be all good right now.

[2020-07-30 12:43] sam-mfb opened #91 "add support for ES2015 class getters and setters"
Currently vim-doge does not generate comments for javascript class getters and setters in the format
`class Example {
  getX() {
//
}
...
}`

It would be nice if it generated jsdoc comments for these as, for example, described here:
[https://jsdoc.app/howto-es2015-classes.html](https://jsdoc.app/howto-es2015-classes.html
)

It appears to already handle constructors and statics just fine.

Thanks!

[2020-07-31 03:37] kkoomen commented on #91
[code]

Works fine. What problem do you have?

[2020-07-31 03:39] #91 closed

[2020-08-01 00:00] holmescharles opened #92 "Can you change the quotes from double- to single-quotes?"
Doge uses double quotes for docstrings in python, but I prefer single quotes. Is there a way to have it work with single quotes instead?

[2020-08-03 06:15] kkoomen commented on #92
I can make a configurable option for this later this week.

[2020-08-09 04:02] kkoomen commented on #92
This feature has been merged and released in [v2.7.0](https://github.com/kkoomen/vim-doge/tree/v2.7.0).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-08-09 04:02] #92 closed

[2020-08-09 04:07] kkoomen commented on #92
You can check the README section on how to use single quotes: https://github.com/kkoomen/vim-doge#python

[2020-08-10 02:51] holmescharles commented on #92
Many thanks!

[2020-08-23 20:58] MrVizious commented on #83
Hi, has there been any development regarding this?

[2020-08-24 14:03] kkoomen commented on #83
@MrVizious If you can answer the above questions in [this](https://github.com/kkoomen/vim-doge/issues/83#issuecomment-614621011) comment then I'd be happy to add support for this.

[2020-08-30 09:15] LanderMoerkerke opened #93 "Python async functions"
**Describe the solution you'd like**

Only sync functions are supported in Python. It would be nice to also include async functions in the detection algorithm.

eg:
[code]

**Additional context**

I tried to update the regex myself but the \m at the start throws me off since it is not valid regex.

[code]

Edit:

I'm currently reading the contribution guidelines, shouldn't be hard to implement the

[2020-09-02 08:58] kkoomen commented on #93
Your regex is in Perl style, not in Vim style. I'll have a look at it later.

[2020-09-02 13:18] kkoomen commented on #93
This feature has been merged and released in [v2.8.0](https://github.com/kkoomen/vim-doge/tree/v2.8.0).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-09-02 13:18] #93 closed

[2020-09-02 13:33] lbiaggi opened #95 "Can't use vim-doge with manjaro"
Hi, I'm trying to setup vim doge in manjaro, can you guys help me?

![error-clang-10-manjaro](https://user-images.githubusercontent.com/5401584/91989635-20426e80-ed07-11ea-9f35-5ae9b5ab46f4.gif)
![image](https://user-images.githubusercontent.com/5401584/91989376-d48fc500-ed06-11ea-9e41-1847aac9006f.png)
Tried to set file name as suggested again the error persisted (I included Config.set_library_fi

[2020-09-02 13:50] kkoomen commented on #95
Follow the small guide that we've provided in the README. Follow the steps and you should be good.

https://github.com/kkoomen/vim-doge#using-c--c

[2020-09-02 16:19] lbiaggi commented on #95
Not so sure

![Peek 02-09-2020 13-18](https://user-images.githubusercontent.com/5401584/92009444-e715f880-ed1e-11ea-8250-13d424a9b335.gif)

[2020-09-03 01:48] kkoomen commented on #95
I'll have a look at it this weekend.

[2020-09-03 10:27] lbiaggi commented on #95
Ah oks, if you need anything, feel free to ping me.

My proposed PR fix the major problem, not sure how to handle the nvim blank line.

[2020-09-06 03:16] kkoomen commented on #95
Please, provide me the result of `ls -l /usr/lib/` on your system.

[2020-09-06 13:08] xbe opened #97 "Add Python setting to not include type annotations in docstrings"
Take, for example, this function:
[code]

This is the generated Google-style docstring:
[code]

It would be nice to have the option to generate this instead:
[code]

[2020-09-07 02:18] lbiaggi commented on #95
[ls_doge.txt](https://github.com/kkoomen/vim-doge/files/5180744/ls_doge.txt)

[2020-09-07 12:00] kkoomen commented on #95
I should've asked for `ls -l /usr/lib | grep -i libclang` but I got my answer anyway, but the fact that clang is not working on your system is not our problem. I have zero clue, as it seems you followed the steps you provided. If you have a solution to how to get the part below to work on Manjaro, then feel free to submit a PR with updated docs.

[code]

[2020-09-07 12:18] lbiaggi commented on #95
Hum, I found the solution and had send the PR #96 to fix it, is something wrong my PR?

[2020-09-09 13:13] kkoomen commented on #95
But *why* is `Config.set_library_file("libclang.so")` needed on Arch Linux-like systems? Our docker runs alpine linux and even there it works fine. I'll look into if we can run `Config.set_library_file("libclang.so")` by default without breaking our tests. If so, it'll fix your problem as well.

[2020-09-09 14:03] kkoomen commented on #95
I decline it because it shouldn't be needed. We've provided everything in the README and those should work on Linux and MacOS. What's the value of `echo $LD_LIBRARY_PATH` on your system? You should set this to the folder where your `libclang.so` is. If this is `/usr/lib` the add `export LD_LIBRARY_PATH="/usr/lib/"` to your `.bash_profile` or `.bashrc`

[2020-09-09 14:04] #95 closed

[2020-09-09 18:59] lbiaggi commented on #95
![image](https://user-images.githubusercontent.com/5401584/92626744-b72b9f80-f2a0-11ea-8d74-0d487ed71fc1.png)

Nothing.

[2020-09-10 06:59] kkoomen commented on #95
Well, there's your problem.

[2020-09-15 21:51] weilbith opened #98 "Integrate treesitter?"
Hey,
since the treesitter support has become quite mature now, I was wondering if this plugin could benefit from it. So no cumbersome regex to parse parameters etc. No matter how the code is formatted, easy extract the data needed to generate the documentation skeleton. Should heavily simplify parts of this plugin and concentrate on the actual generation part.

I would love to hear any feedback wh

[2020-09-18 12:58] kkoomen commented on #98
Oh, I honestly didn't know about this! It'd be a magnificent upgrade! I'll test this out this weekend ASAP. Many thanks for the suggestion.

[2020-09-18 12:58] #98 closed

[2020-09-18 13:51] kkoomen commented on #98
Below is a list of the languages vim-doge support and those that are supported

# Not supported

- [ ] CoffeeScript
- [ ] Scala
- [ ] Kotlin
- [ ] R

# Supported

- [x] Python
- [x] PHP
- [x] JavaScript
- [x] TypeScript
- [x] Lua
- [x] Java
- [x] Groovy
- [x] Ruby
- [x] C++
- [x] C
- [x] Shell

[2020-09-18 13:53] kkoomen commented on #98
It seems like the C-family does not require clang. If that's the case, it'd be a major improvement already, but the treesitter needs to be as good as the current regex we have, because despite how ugly Vim-regex looks, it is is well-written as parses properly

[2020-09-18 13:55] kkoomen commented on #98
I also just noticed that the module allows custom parsers, so perhaps I could submit those myself.

[2020-10-02 10:15] s-u-d-o-e-r opened #100 "DoGe no longer detect props in JSX arrow function if there is no default value"
A few months ago DoGe automatically detected props, but now it just generates 1 prop comment

NVIM v0.5.0-59712f6
Build type: Release

Without default value:
<img width="852" alt="Screenshot 2020-10-02 at 13 09 51" src="https://user-images.githubusercontent.com/29402490/94912728-c58c6600-04b0-11eb-9507-99b5b8f6505b.png">
With default value:
<img width="663" alt="Screenshot 2020-10-02 at 14 27 57"

[2020-10-02 13:49] kkoomen commented on #100
I'm currently doing a rewrite to use tree-sitter as a parser where this problem is already fixed. Please be patient and wait for our new release v3 where this will be fixed.

[2020-10-02 13:57] kkoomen commented on #98
@weilbith You can follow issue #101 if you want to know when the new tree-sitter rewrite will be available

[2020-10-05 04:08] kkoomen commented on #41
@bartlibert We're doing a rewrite without clang with a new modern parser called tree-sitter where this issue will be fixed.

[2020-10-07 18:10] Shatur95 opened #102 "Question about colorscheme"
Hi! Thank you for the awesome plugin!
What colorscheme did you use in [this](https://asciinema.org/a/PXtgawXXnDOVbAm6Kk4cS2MmC) video? I liked it very much, but I can't find a similar one :)

[2020-10-08 04:12] kkoomen commented on #13
@hydeik I'm sorry that I didn't do this issue, as I simply forgot about it. Recently I did a rewrite to use tree-sitter parsers instead of plain ol' regex. See #101

Tree-sitter also supports Rust and I will support this soon, as it is top of my list.

[2020-10-08 04:15] kkoomen commented on #102
@Shatur95 I do use my own custom colorscheme, but I did use [onedark](https://github.com/joshdick/onedark.vim) and then customized it [like so](https://github.com/kkoomen/dotfiles-osx/blob/master/.vimrc#L592-L620).

[2020-10-08 04:15] #102 closed

[2020-10-08 06:57] Shatur95 commented on #102
Thank you!

[2020-10-08 11:15] kkoomen commented on #74
Closing due to new rewrite where clang is no longer needed, see #101.

[2020-10-08 11:15] #74 closed

[2020-10-08 12:03] kkoomen commented on #100
This bug has been fixed and released in [v3.0.0](https://github.com/kkoomen/vim-doge/tree/v3.0.0).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-10-08 12:03] #100 closed

[2020-10-08 12:04] kkoomen commented on #98
@weilbith merged #101

[2020-10-08 12:04] #77 closed

[2020-10-08 12:20] weilbith commented on #98
Wow. You achieved some great work! Thanks for investing your time. Looking forward to test it. :tada:

[2020-10-08 12:38] kkoomen commented on #98
@weilbith All because you suggested it. Many thanks!

[2020-10-08 12:41] kkoomen commented on #97
I did fix it, but I simply removed the type from the generated docblock because Google never defined this. I have zero clue why I added this, but it's fixed.

[2020-10-08 12:41] #97 closed

[2020-10-08 12:53] kkoomen commented on #97
This bug has been fixed and released in [v3.0.1](https://github.com/kkoomen/vim-doge/tree/v3.0.1).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-10-09 05:42] tami5 opened #103 "Support for clojure"
**Documentation standard**

Not sure if there such a stranded reference for clojure doc but here's few links I found
- https://github.com/weavejester/codox
- https://github.com/bbatsov/clojure-style-guide#comments

**How popular is the doc standard?**
- [ ] Not popular at all
- [ ] Some people use it
- [x] Quite a lot of people use it
- [ ] It's not the most popular one, but a good alternative
- [

[2020-10-11 15:02] TaylorBeeston opened #105 "Typescript parser failed but generation still works"
**Describe the bug**
After updating to v3, whenever I run vim doge in a javascript file, I get multiple "Typescript parser failed" messages, but the generation still works.

**Settings**
default

**To Reproduce**

See https://asciinema.org/a/pR1pmQowa565LioiqDH4cvZQ5

**Expected behavior**
Everything to be the same minus the "Typescript parser failed" warnings

**Screenshots**
[Asciinema](https://

[2020-10-11 15:09] TaylorBeeston opened #106 "Javascript Generation Issue"
**Describe the bug**
Since v2, generating jsdoc strings for functions that are directly below another function has given me issues with "swallowing" the above function's closing curly brace.

![swallow](https://user-images.githubusercontent.com/39720479/95682216-f64b5a00-0b98-11eb-82ce-3b920a37a6f6.png)

 Hitting `u` immediately after generation pretty reliably fixes the issue, but it would be nic

[2020-10-11 15:40] kkoomen commented on #105
Well, at least it still works ¯\_(ツ)_/¯

Thanks for reporting. I'll have a look at it ASAP.

[2020-10-11 15:44] kkoomen commented on #106
@TaylorBeeston You've linked the wrong asciinema video. Could you edit it and add the proper one with a demo of how you've reproduced it? Also, I suggest you change your resolution to a 16:9, because I have trouble to view the video demo properly.

[2020-10-11 15:47] TaylorBeeston commented on #106
Whoops! Sorry about that. I updated the links. I'm away from my computer for a while, but I can re-record them for you tonight!

[2020-10-11 15:48] TaylorBeeston commented on #105
Appreciate it!

[2020-10-11 22:35] drselump14 opened #107 "Not sure why it doesn't work"
After installing the plugin and invoke `:call doge#install()` , invoking `:DogeGenerate` or  `<leader>d` does not produce anything. Did  I miss something? Any help would be appreciated

[2020-10-12 03:05] TaylorBeeston commented on #106
I went ahead and rerecorded the Asciinemas and updated the links. They should be much easier to see now!

[2020-10-12 04:50] kkoomen commented on #107
@drselump14 Can you please post the output of the following commands:

- `vim --version`
- `npm --version`
- `node --version`

[2020-10-12 04:52] kkoomen commented on #106
@TaylorBeeston Thanks, I'll have a look soon.

[2020-10-12 07:15] drselump14 commented on #107
Hi @kkoomen , thanks for the support!

[code]

I've installed it using Plug

`Plug 'kkoomen/vim-doge', { 'do': { -> doge#install() } }`

Any hint?

[2020-10-12 07:28] s-u-d-o-e-r commented on #107
I have the same issue

[2020-10-12 12:05] kkoomen commented on #107
@drselump14 @s-u-d-o-e-r I just did a clean install with node v11.15.0 from master and both nvim and neovim have no problems for me if I use this javascript example (I even have a fresh catalina install since yesterday), both `<Leader>d` and `:DogeGenerate` have no problem:

Input: `test.js`:

[code]

output:

[code]

Can at least one of you guys answer the following:
- What's the input that you'v

[2020-10-12 12:17] #105 closed

[2020-10-12 12:25] s-u-d-o-e-r commented on #107
@kkoomen
_What's the output of: ls -l /path/to/your/local/vim-doge/node_modules | grep -i tree-sitter ? (Please provide me with the path as well where your local vim-doge folder is located)_

**nothing**

_Did you use g:doge_parsers to limit the amount of parsers?_

**no**

_What's the input that you've used that doesn't trigger the expected documentation? For example, if you didn't get any result

[2020-10-12 12:26] s-u-d-o-e-r commented on #107
i think that this error is the reason why it doesn't work

[2020-10-12 12:31] kkoomen commented on #107
@s-u-d-o-e-r I've had that error as well. Reinstall xcode and everything should be fine.

@drselump14 Can you confirm the error in [this](https://github.com/kkoomen/vim-doge/issues/107#issuecomment-707088736) comment? Do you have the same when running `npm i tree-sitter` in the vim-doge folder manually?

[2020-10-12 12:36] kkoomen commented on #106
There must be something else happening in your vimrc because I can't reproduce this with a minimal vimrc:

- Create `doge.vim` with the following contents:

[code]

and then do: `vim -u doge.vim test.js` with the following contents:

[code]

All of them result in this perfectly (both vim and neovim have no problem):

[code]

[2020-10-12 12:36] kkoomen commented on #106
Since my tests don't fail and I can't reproduce it, I'll close it. Feel free to comment the solution later if you've found it.

[2020-10-12 12:36] #106 closed

[2020-10-12 12:38] s-u-d-o-e-r commented on #107
@kkoomen
i fixed this error with - sudo xcode-select -s /Applications/Xcode.app/Contents/Developer
and then :call doge#install()

my result:
after :DogeGenerate -
![image](https://user-images.githubusercontent.com/29402490/95747316-ef0f7380-0ca0-11eb-9d3a-978fd3d88247.png)

after pressing Enter -

![image](https://user-images.githubusercontent.com/29402490/95747364-fc2c6280-0ca0-11eb-9bbd-f18b8b53

[2020-10-12 12:44] kkoomen commented on #107
This has just been fixed, see #105

[2020-10-12 12:44] #107 closed

[2020-10-12 12:53] TaylorBeeston commented on #106
@kkoomen no worries! Reproducing it as you have outlined causes it to work correctly for me too, so I'm just going to assume it's an issue I have in my own vimrc 🙃

Thanks for your help! I'll let you know if I find anything that needs to be addressed in vim-doge!

[2020-10-12 12:57] s-u-d-o-e-r opened #109 "JSX props still don’t work even with DoGe v3"
Don't work even with the default value setted

Issue Related to the #100

![Screenshot 2020-10-12 at 15 54 58](https://user-images.githubusercontent.com/29402490/95748817-49113880-0ca3-11eb-87fb-d64def4eaf2d.png)
![Screenshot 2020-10-12 at 15 55 15](https://user-images.githubusercontent.com/29402490/95748840-53333700-0ca3-11eb-8c35-af24172859ac.png)

[2020-10-12 13:31] kkoomen commented on #109
This is expected behavior, because you only have 1 argument. Do you want a `@param` tag for each parameter?

[2020-10-12 14:08] s-u-d-o-e-r commented on #109
@kkoomen  yes, it would be nice because this is a must-have for React development and I use this every day)

[2020-10-12 14:49] kkoomen commented on #109
@s-u-d-o-e-r I've been using React for years and never needed it, because as I said, a bit too much for me personally, *but* I do understand why people would have it. I'll add it tomorrow evening as a configurable option and I'll turn it on by default. If people find it annoying then they can turn it off.

I'll post another comment tomorrow with the new integrated option.

[2020-10-12 14:51] s-u-d-o-e-r commented on #109
@kkoomen ❤️❤️❤️

[2020-10-12 23:05] drselump14 commented on #107
OK,  it works. Thanks

In my case, to install `tree-sitter` I have to switch libtool from homebrew version to mac version.
Using homebrew version of libtool will raise exception when installing `tree-sitter`

[2020-10-13 02:42] kkoomen commented on #107
@drselump14 I'm trying to use [`pkg`](https://npmjs.com/package/pkg) to bundle everything together to remove the npm + node prerequisites and possibly these kind of errors as well.

[2020-10-13 13:36] #109 closed

[2020-10-13 13:48] kkoomen commented on #109
This feature has been merged and released in [v3.1.0](https://github.com/kkoomen/vim-doge/tree/v3.1.0). See [the new option](https://github.com/kkoomen/vim-doge/tree/v3.1.0#javascript) if you want to change this behavior.

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-10-15 06:49] s-u-d-o-e-r commented on #109
@kkoomen  are you sure that it works?

and yes, I updated the package

works same for
[code]
and
[code]

![image](https://user-images.githubusercontent.com/29402490/96086592-3c6f2900-0ecb-11eb-9316-12a85871fc34.png)

![Screenshot 2020-10-15 at 09 45 39](https://user-images.githubusercontent.com/29402490/96086556-311bfd80-0ecb-11eb-9475-d3ba16d0a844.png)

[2020-10-15 07:54] kkoomen commented on #109
When you pull, you have to run `npm run build` inside the vim-doge folder. If you use `Plug` aka vim-plug then this shouldn't be an issue.

[2020-10-15 08:56] s-u-d-o-e-r commented on #109
Hmm, I installed via vim-plug but after update, I had this issue, npm run build helped me, strange

[2020-10-15 08:57] s-u-d-o-e-r commented on #109
Ohh..., I love this feature, you are the best

[2020-10-15 12:01] kkoomen commented on #109
It should re-run the `do` inside vim-plug when running `:PlugUpdate`

[2020-10-16 10:08] s-u-d-o-e-r opened #110 "Props destruct documentation doest work for some code"
Try to generate doc for this code, it doesn’t  work, but if you remove "true &&" or className it will work

[code]

![image](https://user-images.githubusercontent.com/29402490/96246078-cd6c0000-0fb0-11eb-9b49-de008a4f46c2.png)

[2020-10-17 04:52] #110 closed

[2020-10-17 05:12] kkoomen commented on #110
This bug has been fixed and released in [v3.2.7](https://github.com/kkoomen/vim-doge/tree/v3.2.7).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-10-17 05:18] kkoomen commented on #110
This bug has been fixed and released in [v3.2.8](https://github.com/kkoomen/vim-doge/tree/v3.2.8).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-10-17 05:21] kkoomen commented on #110
This bug has been fixed and released in [v3.2.9](https://github.com/kkoomen/vim-doge/tree/v3.2.9).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-10-18 11:55] promisedlandt opened #112 "Linux: tree_sitter_runtime_binding.node: invalid ELF header"
**Describe the bug**

On Linux, I'm getting the the following stacktrace:

[code]

This also happens when I execute the binary completely without vim, i.e. `./bin/vim-doge`.
I was able to reproduce it in a Ubuntu 20.04 VM, so I'm guessing it's a build problem, not my system.

Only similar issue I could find is https://github.com/georgewfraser/vscode-tree-sitter/issues/3 but I don't know anything a

[2020-10-18 14:14] kkoomen commented on #112
It's definitely an issue with [`pkg`](https://github.com/vercel/pkg) itself and [vercel/pkg#665](https://github.com/vercel/pkg/issues/665) could be related. I'll have a look at it later.

[2020-10-20 10:06] s-u-d-o-e-r commented on #110
@kkoomen I have updated the version but it still doesn’t  work even if I run npm build manually, no output, nothing

[2020-10-20 14:20] kkoomen commented on #110
Apologies. I noticed I can simply use the TSX parser which supports seems to support TSX/JSX and every other syntastic sugar in JS/TS. This bug has been fixed and released in [v3.2.10](https://github.com/kkoomen/vim-doge/tree/v3.2.10).

[2020-10-20 15:32] solarizedalias opened #113 "Install script can abort on mkdir"
**Describe the bug**

Currently, `install.sh` (invoked by `doge#install()`) can fail if `$ROOT_DIR/bin` already exists (e.g. when users try to update the plugin). This happens because [`mkdir ./bin`](https://github.com/kkoomen/vim-doge/blob/3a397f26083ab18cdb8545662878244f5174e409/scripts/install.sh#L15) returns non-zero when the directory exists and [`set -e`](https://github.com/kkoomen/vim-doge/

[2020-10-20 16:20] kkoomen commented on #113
I don't have which system you're running, but I don't have this problem on OSX, but I did add a check now. Shouldn't have this issue again in v3.3.1.

[2020-10-20 16:20] #113 closed

[2020-10-20 17:35] solarizedalias commented on #113
Thank you, looks like it's solved.
Updated the plugin and confirmed `doge#install()` or running `install.sh` downloads the latest binary each time they run.

It's strange because I also use macOS (mojave), I tried in two versions of mkdir, `/bin/mkdir` and coreutils mkdir installed by homebrew by modifying `PATH`, which in this case behaved the same way. `mkdir: cannot create directory ‘./bin’: Fi

[2020-10-21 06:16] sh0w98 commented on #112
Facing the same issue right now. Reverted back to a manual install of 3.1.1 for a working install. Running Arch Linux (linux 5.9.1.arch1-1 kernel).

[2020-10-21 08:29] jerri commented on #112
Problem persists with new version 3.3.1 unfortunately!

[2020-10-21 14:14] kkoomen commented on #112
So the problem here is that I did ship a linux binary, but because I did run `npm install` on my Mac, it did build tree_sitter for mac and those `.node` files are being put into the final binary.

I did make a [question](https://www.reddit.com/r/node/comments/jfdgtw/npm_install_for_different_platforms_nodegyp_build/) on Reddit, as I am totally blank on how to solve this. I'll fix this ASAP as it's

[2020-10-21 14:42] jerri commented on #112
Mhm. The easist approach would probably be creating a docker environment with a linux distribution and do the npm install there. This way you would get a linux executable. Not sure though, if this is actually going to be compatible with all kinds of linux systems. The linux environment is quite complex.
But maybe it makes more sense for the people to create the runtime themselfes. It shouldn't be

[2020-10-21 15:38] kkoomen commented on #112
So, I got a good solution; GitHub Actions. It supports all three environments and I can use this to build, test and publish for all platforms. I'll set it up this weekend and will let y'all know when I have a beta version available to test.

[2020-10-22 07:51] shubham-cpp opened #114 "The plugin just doesnt work on any Language and gives same error"
**Describe the bug**

**Settings**

**To Reproduce**

- Create file `doge.vim` with:

[code]

- Start (neo)vim with command: `vim -u doge.vim`

Did the above steps and no errors occurred
I have also installed doxygen(from standard arch repo), numpy(also from std repo) and LDoc(from aur on arch linux)

**Expected behavior**

Pressing `<leader>d` should provide documentation but it doesnt on any lan

[2020-10-22 11:51] jerri commented on #114
You probably missed the step, where you have to install dependencies? You have to `call doge#install()` to download the binary.
Be aware though, that there is an open problem right now with the linux-binary, which can't be executed right now. But at least after the install step, you should get an error message.
@kkoomen : Might make sense to catch the case when a user forgot to download the binary

[2020-10-22 12:20] shubham-cpp commented on #114
I'm using vim-plug and I have this in my init.vim
`Plug 'kkoomen/vim-doge', { 'do': { -> doge#install() } }`

[2020-10-22 12:22] shubham-cpp commented on #114
Thats exactly what i got. I have uploaded the screenshot

[2020-10-22 12:23] shubham-cpp commented on #114
Is there any work around like manually installing the binaries(like some people do with you-complete-me)

[2020-10-22 14:00] kkoomen commented on #114
I can add that later, although it's not my problem if people don't read the docs carefully.

[2020-10-22 14:01] kkoomen commented on #114
@shubham-cpp Please be patient as @jerri mentioned. I'm working on a fix for the builds at this point. You can checkout to v3.2.1 and run `call doge#install()` for now. This version is without binary.

[2020-10-23 02:28] kkoomen commented on #112
Update: The first setup is done for GitHub Actions and right now it works well for MacOS + Linux, see [run #323273931](https://github.com/kkoomen/vim-doge/actions/runs/323273931)but these are just the tests. This weekend I'll add another workflow to build a release. When I have beta release I'll post another update here.

[2020-10-23 19:11] kkoomen commented on #112
[v3.3.2-beta.24](https://github.com/kkoomen/vim-doge/releases/tag/v3.3.2-beta.24) is the first complete version with all tests passing for macos + linux and has binaries being built on the corresponding systems.

@promisedlandt @jerri Can y'all pull the latest master version, run `call doge#install()` and test the linux binary? It should work since the binary is built on ubuntu.

[2020-10-23 19:32] promisedlandt commented on #112
I can confirm it works now, but I didn't use the script, just downloaded in manually.
Thanks for the quick resolution! I think this plugin will be very useful :)

[2020-10-23 19:32] #112 closed

[2020-10-23 19:54] kkoomen commented on #114
@shubham-cpp Please try out the new version that I mentioned [here](https://github.com/kkoomen/vim-doge/issues/112#issuecomment-715531000) and let me know if it works or not.

[2020-10-24 10:15] jerri commented on #114
Yay. For me it looks good. Tested with php and python and could created document-skeletons again. Thanks!

[2020-10-24 11:25] kkoomen commented on #41
This bug has been fixed and released in [v3.4.0](https://github.com/kkoomen/vim-doge/tree/v3.4.0).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-10-24 11:25] #41 closed

[2020-10-24 11:38] kkoomen commented on #114
I've just released v3.4.0, a new stable version. I'll close this issue for now as 2 other people have confirmed that the Linux binary works now. Thanks for contributing.

[2020-10-24 11:38] #114 closed

[2020-11-01 15:29] GGCristo opened #140 "[Request] Auto-Folding"
Greetings, I was wondering if it could be possible to create folding in the documentation, activating it with some variable like g:doge_folding (Default: 0).

Maybe changing the 'foldexpr' (http://vimdoc.sourceforge.net/htmldoc/options.html#'foldexpr') variable should be enough, but I am not sure how hard this could be to achieve this with all the supported languages, and working perfectly.

[2020-11-02 12:13] kkoomen commented on #140
What exactly do you expect? Do you want to add folding markers inside the docblock?

[2020-11-02 12:35] GGCristo commented on #140
Actually I don't mind the “how” is done, one of the problem I find navigation the code is that documentation obviously make the file larger, it could be activating the folding with a keypress or automatically when you finish writing the last TODO.

Also, I have doubts if this is something that should be managed by the user or if it could be a nice extra feature of this plugin, so I understand if y

[2020-11-02 14:45] kkoomen commented on #140
If enough people would care about this then I'm always open to ideas but to be honest, this is out of scope for this plugin and it is up to the user to add folding.

If folding is too much work for you then you might want to add a custom keybinding where you can quickly select comment blocks and add folding markers to your selection.

[2020-11-02 14:45] #140 closed

[2020-11-10 21:24] sQVe opened #154 "Error when installing with Plug"
**Describe the bug**

I'm trying to install the plugin with `Plug 'kkoomen/vim-doge', { 'do': { -> doge#install() } }` but it fails with:

[code]

[2020-11-11 02:57] subnut commented on #154
Can't reproduce.
Please include a minimal `.vimrc` required to reproduce this issue.

[2020-11-11 03:08] subnut opened #155 "Please implement some way to check the version of the compiled executable"
**Is your feature request related to a problem? Please describe.**
`doge#install()` deletes an existing installation even if it is at the current version, and re-installs. This causes unnessecary data-consumption, and also, till the new binary is installed, the user cannot continue working.

**Describe the solution you'd like**
Implement a command-line-option `--version`, so that `doge#install()`

[2020-11-11 06:06] kkoomen commented on #155
Version check is acceptable yes. This is fairly easy since we already know the version when installing. I'll implement it this weekend.

[2020-11-11 07:05] sQVe commented on #154
Strange. Tried to replicate this now and wasn't able to. Closing until I see it again. :+1:

[2020-11-11 07:05] #154 closed

[2020-11-11 07:49] subnut commented on #18
@kkoomen I am hesitant to answer at stackoverflow. So here's my two cents -

- `git diff --patch --word-diff=porcelain file2 file1 > temp`
- `python script.py temp file3`

This is the best that I can do. What is basically does is, it does a word-diff using `git`and outputs it to _temp_. `script.py` parses that word-diff from _temp_, and the output is written to _file3_. _file3_ is created/overwrit

[2020-11-11 08:02] kkoomen commented on #18
@subnut Thanks for your effort. I'll see what I can do this weekend. If this works for one case then I expect this to work for most or perhaps even all cases.

[2020-11-13 16:41] #103 closed

[2020-11-14 02:49] subnut commented on #155
I'd like to see this feature included in `3.6.0` if possible..

[2020-11-14 10:49] kkoomen commented on #155
I'll do it this weekend, no worries.

[2020-11-15 06:19] fgheng opened #156 "Unknow function: doge#helpers#deepextend"
**Describe the bug**
Hello, I use vim-plug as plugin manager, I write `Plug 'kkoomen/vim-doge', { 'do': { -> doge#install() } }` in my vimrc file, and when I use `PlugInstall` to install vim-doge, error occurced:
[code]
![image](https://user-images.githubusercontent.com/50551377/99178379-7ee78800-274d-11eb-9749-38377dc58eb2.png)

[2020-11-15 10:37] kkoomen commented on #156
Please provide a minimal vimrc on how to reproduce this. If you can't then I'm closing this soon, because I can't run into this issue.

[2020-11-15 10:46] kkoomen commented on #18
@subnut Right now I do have file1 and file2 like this (php files):

<details>
<summary>file1</summary>

[code]
<details>

<details>
<summary>file2</summary>

[code]
<details>

When I run `git diff --patch --word-diff=porcelain file2 file1` it outputs nothing.

[2020-11-15 12:37] subnut commented on #18
Cannot reproduce. See my GIF -

![gifcast_201115180421](https://user-images.githubusercontent.com/56714626/99185031-1f00d980-276d-11eb-826c-dc1acc5371ea.gif)

[2020-11-15 13:54] subnut commented on #18
An updated script -
[code]

I am going to explain the difference between the old script and the new script below....

[2020-11-15 13:58] subnut commented on #18
For reference, here are the files -

### file1
[code]

### file2
[code]

### temp (ie. output of the diff)
[code]

[2020-11-15 14:00] subnut commented on #18
Now here's `file3` , i.e. output of the scripts -

### Old script output
[code]

### New script output
[code]

[2020-11-15 14:04] subnut commented on #18
Sorry, there's a mistake, please wait...

[2020-11-16 00:55] fgheng commented on #156
hello, my minimal vimrc is below:

[code]
the problem is still exist.

[2020-11-16 05:32] fgheng commented on #156
Problems occured when I used command `:PlugInstall`

[2020-11-16 11:20] kkoomen commented on #156
Next time, please read the docs before making issues. The README clearly states that you should use

[code]

instead of

[code]

Removing the `'on': 'DogeGenerate'` part will fix your problem.

[2020-11-16 11:20] #156 closed

[2020-11-16 12:54] kkoomen commented on #18
You're showing me here `file1.php` and `file2.php` but the actual command is using `file1` and `file2` instead of `file1.php` and `file2.php`.

Besides that part, I can get the diff if I am running `git` inside a folder without a `.git` folder. I used to run this in my vim-doge repo but that doesn't work.

[2020-11-16 12:59] kkoomen commented on #18
Adding `--no-index` fixes it and thus can be run in existing repo: `git diff --patch --no-index --word-diff=porcelain file2 file1`

[2020-11-16 13:21] kkoomen commented on #18
@subnut Perhaps [git merge-file](https://git-scm.com/docs/git-merge-file) might be useful. I really prefer to use the git merging algorithm. The logic I'm looking for is like this:

When generating a comment, replace the current one with the new one. When there's a conflict, just generate a new comment, just use the newly generated comment, don't delete the current one, just insert the new one.

[2020-11-16 13:59] subnut commented on #18
@kkoomen Give me some examples in this format -

- old_file contents
- new_file contents
- expected result

[2020-11-16 14:00] subnut commented on #18
One example is in StackOverflow, I just need another example

[2020-11-16 14:16] kkoomen commented on #18
You can test against this heavy python example:

file1 (current docblock)

[code]

file2 (updated version, aka incoming change)

[code]

Expected result:

[code]

I'm doing this "expected result" based on how merging works. Ideally,  to me, it should only preserve documentation if the `p1` is still named `p1`. If it's a different name then it should be a new `[TODO: ...]` again, but that's somethi

[2020-11-16 14:31] subnut commented on #18
Also show me your _ideal_ result (for both, this example and the example in StackOverflow)

[2020-11-16 14:38] kkoomen commented on #18
Perhaps the example I showed above is the *ideal* result for the majority. I am not sure about the most ideal behavior personally. It's something me and others have to experience and feel overtime. Let's do as above now and if needed, we can make adjustments later. Being able to merge would be really nice already.

[2020-11-16 17:00] subnut commented on #18
Hmm... let me see.... I may need upto a month to get something usable... I am going to be busy for 2 weeks. Feel free to consider alternatives.

[2020-11-17 10:28] #155 closed

[2020-11-17 10:37] jerri opened #160 "install.sh-script is using bash specifics while using sh in the hashbang"
Updating vim-doge today on my computer led to the following errors

[code]

I am on Ubuntu here. I think the problem is related to `sh` being linked to `dash` on this computer, whereas the script used `bash`-extensions that `dash` does not support. I would suggest to either change the first line of the script to `#!/usr/bin/env bash`, or not use `[[` in the script.

**To Reproduce**

Executing the

[2020-11-17 14:02] kkoomen commented on #160
That's a problem that happened due to the merge from yesterday. We decided to use `sh` as it's installed on almost every system. We can't guarantee bash is installed in all systems. I'll make it compatible with dash.

[2020-11-17 14:35] kkoomen commented on #160
This bug has been fixed and released in [v3.5.3](https://github.com/kkoomen/vim-doge/tree/v3.5.3).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-11-17 14:35] #160 closed

[2020-11-17 18:49] iFork commented on #160
@kkoomen - fix does not affect line 33 `elif [[ $OS == 'Linux' ]]; then` which still gives error. Please fix that line, too.

[2020-11-17 23:39] kkoomen commented on #160
This bug has been fixed and released in [v3.5.4](https://github.com/kkoomen/vim-doge/tree/v3.5.4).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-11-23 08:30] yan42685 opened #169 "Always destructures props"
**Describe the bug**
Configuration for disabling destructuring params doesn't take effect.
[code]

**To Reproduce**

- Create file `doge.vim` with:

[code]

- Start neovim with command: `nvim -u doge.vim test.js`

Steps to reproduce the behavior:

1.  write a function
2. `:DogeGenerate`

**Expected behavior**
Generate doc without @param.

**Screenshots**
![doge](https://user-images.githubuserconte

[2020-11-23 09:49] kkoomen commented on #169
You're not understanding what *destructuring* means.

This is destructuring (1 variable, but using `{...}` you can extract the keys inside the object as variables that are directly accessible:

[code]

and this is not (just regular function parameters):

function test(children, ...props) {}

[2020-11-23 09:49] #169 closed

[2020-11-23 10:06] yan42685 commented on #169
Thank you very much for your prompt and detailed reply, I have figured out the difference. 😄

[2020-11-23 15:55] kkoomen commented on #169
I just noticed I did made some mistakes in my previous comment. Have a look again, because I fixed my typos.

[2020-11-24 06:12] yan42685 commented on #169
Ok, I get it now, thanks~

[2020-11-29 18:04] daturkel commented on #97
I can make a separate issue if necessary, but I'd love to have types omitted from the params section of the docstring if annotations are in the function signature **for numpy style**

The [Sphinx documentation shows the following examples for numpy-style docstrings](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html):

[code]

However, currently Doge includes types in the P

[2020-11-30 05:49] kkoomen commented on #97
@daturkel Please make a new issue and I'll look at it later.

[2020-11-30 15:39] daturkel opened #176 "Numpy style: (optionally) exclude type annotations for PEP-484 compliant Python code"
**Is your feature request related to a problem? Please describe.**
According to [Sphinx's documentation on Numpy docstrings](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html), types can be excluded from the docstrings for parameters which are hinted in the function signature (not for the return object, however). While this doesn't seem to be explicitly called out in [Nump

[2020-12-03 02:56] mano233 opened #179 "not support comment generation for functions that return pointer"
**Describe the bug**
The comment of the function that returns the pointer does not generate "@param"

**Settings**
use default setting

**To Reproduce**

- Create file `demo.cpp` with:

[code]

- Start (neo)vim with command: `<leader>d`

**Expected behavior**
the fun1 should generate "@param",but.....
![image](https://user-images.githubusercontent.com/29190675/100957774-13c3f100-3556-11eb-8928-26b

[2020-12-17 11:15] Couto opened #198 "Add TSDoc doc standard for TypeScript"
**Documentation standard**

Link: https://tsdoc.org/

**How popular is the doc standard?**
- [ ] Not popular at all
- [ ] Some people use it
- [ ] Quite a lot of people use it
- [x] It's not the most popular one, but a good alternative
- [ ] Everyone is using it

[2020-12-17 11:16] Couto commented on #198
I followed the Issue template, however I'm not entirely sure if that's all the info you need, let me know if you have questions, I'm happy to answer the best I can.

[2020-12-18 00:43] perfectspr opened #199 "Support silent install, no frame or terminal"
vim-doge will block install progress in silent mode:

[code]

I'm packing vim into a Docker image and use vim-plug to manage all plugins.

[2020-12-18 04:51] kkoomen commented on #199
@subnut What do you think? Should this command wait for the install to be done or not? To me, the behavior is as expected. You want to be sure that the binary is available, *but* if `PlugInstall` will run in the background then so should we. Can we implement this easily?

[2020-12-18 04:54] kkoomen commented on #198
@Couto What would be the difference with the current implementation with [`jsdoc`](https://jsdoc.app/)? The information that vim-doge is providing is the same syntax as the TSDoc as far as I see.

[2020-12-18 04:57] kkoomen commented on #179
Indeed a bug, because I never thought about this scenario personally. I will fix this issue today somewhere or otherwise this weekend definitely.

[2020-12-18 04:57] subnut commented on #199
Can we detect silent mode? If yes, how?

[2020-12-18 04:58] kkoomen commented on #176
I can add a python-specific option for this later. I'm super busy lately, so please be patient. I'll try to implement this whenever I have time.

[2020-12-18 04:59] kkoomen commented on #199
@subnut Well, how does vim-plug do it? I know they run background processes, but I am not sure if their way already covers this scenario, or whether they have implement an additional check that we might need as well.

[2020-12-18 05:41] subnut commented on #199
@kkoomen I really don't know!

---

@perfectspr Check if this works -

[code]

[code]

[2020-12-18 05:51] kkoomen commented on #199
@subnut If it works, then perhaps add `silent` in front of the `call system()` command.

[2020-12-18 05:54] subnut commented on #199
Umm.... Why?

[2020-12-18 07:12] perfectspr commented on #199
It works! thanks for your quick implementation @subnut

[2020-12-18 13:41] kkoomen commented on #199
@subnut Nice! I think we can name it something like `{'background': 1}` to indicate you want to return it in the background.

[2020-12-18 13:43] subnut commented on #199
But that wouldn't imply that it will block/freeze there UI

[2020-12-18 13:46] subnut commented on #199
`script_mode` maybe?

[2020-12-18 14:27] daturkel commented on #176
No worries! I'll also take a look at the library in the coming weeks and see if this is something I can possibly contribute.

[2020-12-19 02:23] kkoomen commented on #199
We can do `ci` or perhaps `headless`. Both indicate the action that OP wants.

[2020-12-19 03:25] subnut commented on #199
I agree. Let's go with `headless`.

[2020-12-19 03:36] kkoomen commented on #199
@subnut No problem. You're helping out so I'll definitely do that ;)

[2020-12-19 15:04] kkoomen commented on #199
@subnut Can I use `Subhaditya Nath <sn03.general@gmail.com>` as the `Co-authored-by`?

[2020-12-19 15:13] subnut commented on #199
@kkoomen Yes. Thanks again.

[2020-12-19 16:05] kkoomen commented on #199
This feature has been merged and released in [v3.6.0](https://github.com/kkoomen/vim-doge/tree/v3.6.0).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-12-19 16:05] #199 closed

[2020-12-19 16:05] kkoomen commented on #179
This bug has been fixed and released in [v3.6.0](https://github.com/kkoomen/vim-doge/tree/v3.6.0).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2020-12-19 16:05] #179 closed

[2020-12-19 16:09] kkoomen commented on #199
@perfectspr Please read the new [Headless mode](https://github.com/kkoomen/vim-doge#headless-mode) section for more details.

[2021-01-21 06:27] nagy135 opened #231 "Author comment"
**Is your feature request related to a problem? Please describe.**
I dont see any current option to add this to a docstring

**Describe the solution you'd like**
I would like :DogeGenerate to also include @author line with:
`Firstname Lastname <email>`

**Describe alternatives you've considered**
Maybe this is somehow possible with templates? I think this should be one line in my vimrc to allow th

[2021-01-21 11:38] kristijanhusak opened #232 "Adding custom doc standard"
Hi,

is there a way to add a custom doc standard, but without the `/after/ftplugin` file?

I tried this, but it doesn't work:
[code]

I get an error that it doesn't exist.

[2021-01-21 14:32] kkoomen commented on #232
I suggest you read about [`DogeCreateDocStandard`](https://github.com/kkoomen/vim-doge#dogecreatedocstandard-doc_standard) command first. That's the way to go for custom adjustments to any doc standards or if you want to create a new one yourself.

[2021-01-21 14:33] #232 closed

[2021-01-21 14:35] kkoomen commented on #231
It's not built into the plugin. You can use [`DogeCreateDocStandard`](https://github.com/kkoomen/vim-doge#dogecreatedocstandard-doc_standard) like so: `:DogeCreateDocStandard phpdoc` and extend the exiting doc standard to include `@author`.

[2021-01-21 14:35] #231 closed

[2021-01-21 15:51] kristijanhusak commented on #232
I read about it. When I run the command, it creates an `after/ftplugin/standard.vim` file, with the new doc standard data.
I'm asking is there a way to add a new standard without having to create that file?

[2021-01-22 14:49] kkoomen commented on #232
It does _not create_ the file. It opens a new buffer with a predefined path for saving. If you want to extend doc standards with your own custom implementation then using the `DogeCreateDocStandard` is the way to go.

[2021-01-26 09:14] nagy135 commented on #231
Thats nice (thanks for tutorial) and as i said i kinda expected this, but It still took me while to figure out what it neede me to do to make it work ...would be nice to have simple vimrc option for this to apply to every standard

[2021-02-17 02:51] FRostri opened #256 "Add support for Rust"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

[2021-02-17 02:51] #256 closed

[2021-02-17 02:52] FRostri commented on #256
Sorry, I didn't see the other open issue

[2021-02-20 15:36] kkoomen commented on #72
@resolritter Sorry for the terribly long response. At the time you've submitted this issue I did have a look around and asking around as well for better alternatives.

The best answer I got from an expert in Vim is:

How do other plugins detect filetypes like this? Are there different approaches?

[2021-02-20 17:46] resolritter commented on #72
Hi @kkoomen it really has been a long time (more than a year!). Since then I've changed the highlighting in my editor to be backed by tree-sitter instead of the built-in regular-expression-based syntax engine. There are prominent projects for tree-sitter on Neovim such as [nvim-treesitter](https://github.com/nvim-treesitter/nvim-treesitter). I don't know if there's something for Vim since I don't

[2021-03-07 05:31] falcucci opened #283 "doge not working suddenly after upgrade"
**Describe the bug**
The comment is not working at all for javascript files.

**Settings**
use default setting

**To Reproduce**

- Create file `doge.js` with:

[code]

**Expected behavior**

**Screenshots**
![anim](https://user-images.githubusercontent.com/33763843/110230058-d83a1980-7eec-11eb-91c3-2fe1b497c600.gif)

**Output of `vim --version`**

[code]

[2021-03-07 06:49] kkoomen commented on #283
Works perfectly for me using Vim v.8.2.2500 (compiled with brew). All tests pass as well using minimal vimrc. This is not related to DoGe itself.

[2021-03-07 06:49] #283 closed

[2021-03-07 11:02] VVKot opened #285 "Does not work, even with minimal vimrc"
**Describe the bug**

I am facing the same issue as in #283 - pressing `<Leader>d` does not add comment but modifies the file. I tried the trouble-shooting steps from https://github.com/kkoomen/vim-doge/issues/107#issuecomment-707079124, `tree-sitter` is installed for me, the line you suggested to log returns empty string (hence it consistent with what I see - file is modified but there are no vis

[2021-03-07 11:24] kkoomen commented on #285
I'm using nvim v0.4.4 compiled with brew  and vim 8.2.2500 and have no issues at all using the latest version. You're using NVIM v.0.5.0-dev which could be the problem. That's a risk you take yourself, because I'm not gonna support `dev` versions.

Make sure you got the latest binary installed.
You can try to do the following:

1) Open up `test.js` with the following contents:

[code]

2) Run the

[2021-03-07 11:37] VVKot commented on #285
@kkoomen thanks! To make sure that it is not Neovim's dev version interfering, I also tried this with Vim 8.2.2500 and vim-plug, just to make sure. In both cases I get the error below:

[code]

[2021-03-07 11:49] VVKot commented on #285
`:set fileencoding` in `bin/vim-doge` returns `utf-8`. I tried node versions `v15.11.0`, `v12.20.2`, `v10.23.0` - same for all of them. I am on Macos if that makes a difference?

[2021-03-07 11:58] kkoomen commented on #285
I am on MacOS as well and everything works for me.

Try to run `npm run build` inside the vim-doge folder and then run `node ~/path/to/vim-doge/bin/vim-doge test.js typescript 1 function` again, what do you get?

[2021-03-07 12:02] VVKot commented on #285
@kkoomen yes, that fixes it! Do you know why it might behave that way? Something with version/settings of node that is used to build the binary?

[2021-03-07 12:05] VVKot commented on #285
Ah I see, it now uses my local packages instead of building a binary with `pkg`. Maybe the fork submodule-d into the repo needs a bump? Don't know.

[2021-03-07 12:05] kkoomen commented on #285
Can you now do `rm ./bin/vim-doge`, open vim / neovim and do `:call doge#install()`. It should get the latest version of vim-doge. After the download is complete, see if doge is working now.

[2021-03-07 12:12] VVKot commented on #285
I tried that before and just tried again - installing binary brings the error back.

[2021-03-07 12:13] kkoomen commented on #285
@VVKot May I know the exact system version of MacOS you're using? vim-doge still works for me on Big Sur and on another laptop with Catalina and both work.

[2021-03-07 12:14] VVKot commented on #285
Catalina 10.15.7. Can try on Big Sur in a bit, I believe I was hitting the same problems.

[2021-03-07 12:21] VVKot commented on #285
Same deal on Big Sur 11.1, node 15.11.0 - I removed the script, downloaded the latest again (3.7.0), getting "Invalid or unexpected token" on the first line.

[2021-03-07 12:27] kkoomen commented on #285
mhm, doing a build locally also lets me run into this error, but if I use the build from [here](https://github.com/kkoomen/vim-doge/releases/tag/v3.7.0) then I don't have any problems.

[2021-03-07 14:30] VVKot commented on #285
@falcucci do you mind doing `rm ./bin/vim-doge` and `npm install && npm run build` in your vim-doge install location? Want to understand if this https://github.com/kkoomen/vim-doge/issues/285#issuecomment-792265764 helps you too.

[2021-03-07 15:12] kkoomen commented on #285
@VVKot Issue should be fixed. Can you upgrade vim-doge to use v3.8.0? This version works for me.

[2021-03-07 15:28] VVKot commented on #285
Yay, this indeed fixed the problem! 🎉 Tested both Catalina and Big Sur with 3.8.1.
Thanks so much for a prompt resolution. ❤️

[2021-03-07 15:28] #285 closed

[2021-03-07 15:29] kkoomen commented on #283
@falcucci Perhaps #285 has also fixed your issue. Please upgrade vim-doge to v3.8.1 and it should be fine.

[2021-03-07 21:22] falcucci commented on #285
well done guys, the new release worked like a charm. thank you all

[2021-03-07 21:23] falcucci commented on #283
@kkoomen indeed fixed! ty!

[2021-03-10 13:29] kkoomen commented on #13
To give another update, the `tree-sitter-rust` had an issue in the current version, therefore I was unable to install the package. Recently it did had updates, so I'll try to make some time soon to implement this. I've been busy lately, sorry I couldn't make time. I'll try to implement it ASAP.

[2021-03-11 03:35] kkoomen opened #288 "Add support for Scala"
Add support for Scala with [scaladoc](https://docs.scala-lang.org/style/scaladoc.html).

[2021-03-11 03:36] kkoomen opened #289 "Rewrite tree-sitter parsers to use the Query API"
See https://tree-sitter.github.io/tree-sitter/using-parsers#pattern-matching-with-queries

[2021-03-12 12:46] kkoomen commented on #13
@LanderMoerkerke @arxra @promisedlandt @etrnal70 @lynndylanhurley @kongjun18 @FRostri @wfxr Since you've all add a reaction to [this](https://github.com/kkoomen/vim-doge/issues/13#issuecomment-705317674) comment, I'd like y'all to have a look at [Add support for Rust #290](https://github.com/kkoomen/vim-doge/pull/290) and let me know what situations I have to cover. Basic support for functions is

[2021-03-12 17:48] klauer opened #291 "macOS v3.8.1 binary shows "MODULE_NOT_FOUND""
**Steps to reproduce the behavior:**

1. Download vim-doge on macOS version v3.8.1 (even outside of vim/nvim)
2. Run vim-doge in terminal (or trigger it in vim by way of `:DogeGenerate` with same result)

[code]

**Expected behavior**

v3.8.0 does not appear to have this issue. Downgrading seems to help.

[2021-03-13 03:04] kkoomen commented on #291
What version of macOS are you running? I'm running the latest version of Big Sur and have no issues. I've had other people on other issues that also use macOS issues but 3.8.1 fixed everything.

[2021-03-15 12:06] #13 closed

[2021-03-15 16:20] klauer commented on #291
I'm on 11.2.2 (20D80).  I understand that the binary shouldn't be doing anything with no arguments. The reason I noted the output with empty arguments is that it differed from the versions: the working one output `Could not load parser for undefined` (understandably so), whereas the failing one output the traceback in the original issue.

Interestingly, I tried `:DogeGenerate` again this morning i

[2021-03-15 16:20] #291 closed

[2021-03-23 09:01] tuna-f1sh commented on #291
I know this is closed but I also get this on my macOS system (11.2.3) with 3.9.0.

[code]

I did a bit of digging in an attempt to understand why. If I `npm install` and `npm build:binary:unix` I get:

[code]

And now the vim-doge works in `vim`. Could the downloaded unix binary now not be compatible with macOS?

[2021-03-23 09:33] kkoomen commented on #291
@leafac do you know _why_ this happens? I personally don't have this issue locally on both 10.15 and on 11.x.

[2021-03-23 09:42] leafac commented on #291
I don’t know… I’ll look into it…

[2021-03-25 23:34] KnBrckr opened #294 "C functions that return pointer do not generate @param"
**Describe the bug**

Just like #179 which addressed this issue for C++, the C language has the same issue.

**Settings**

Default settings

**To Reproduce**

Steps to reproduce the behavior:

1. Create file foo.c with:

[code]

2. Initiate vim command `<leader>d` for each function

**Expected behavior**

foo() should have @param comments generated, but it does not

**Screenshots**
![image](https:

[2021-03-29 13:09] kkoomen commented on #294
This bug has been fixed and released in [v3.9.1](https://github.com/kkoomen/vim-doge/tree/v3.9.1).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2021-03-29 13:09] #294 closed

[2021-03-29 14:40] VVKot commented on #198
@kkoomen I guess there are some minor additions like [@decorator](https://tsdoc.org/pages/tags/decorator/); but I mostly I *don't* want types specified for params as it is redundant for Typescript. Wonder if this can at least be another option for `jsdoc` standard?

[2021-03-30 02:56] kkoomen commented on #198
@VVKot I honestly have been busy lately and totally forgot about this and also did forgot that there's an open PR for this already. I'll look into it ASAP.

[2021-04-28 16:01] #198 closed

[2021-04-28 16:29] kkoomen commented on #198
This feature has been merged and released in [v3.10.0](https://github.com/kkoomen/vim-doge/tree/v3.10.0).

Feel free to submit any new issues if you experience any unwanted behavior in the future. Thanks for your contribution.

[2021-05-11 08:36] qazip opened #295 "What am I doing wrong? Can't get this to work"
So, I install vim-doge using plug. I did PlugUpdate. I have a .py file with just the following:

[code]

I go to the function definition (cursor on the "d"), and type :DogeGenerate. Nothing happens. Tried `:DogeGenerate numpy` and `:DogeGenerate google`. Nothing happened still.. What am I doing wrong?

I am using neovim:
[code]

[2021-05-11 09:02] kkoomen commented on #295
What OS + OS version are you using?

Also, we don't support `dev` versions.

[2021-05-11 09:13] qazip commented on #295
- Arch linux
- Yes. Did `Plug 'kkoomen/vim-doge', { 'do': { -> doge#install() } }` and PlugUpdate. vim-doge is installed since tab-completion gives both "DogeCreateDocStandard" and "DogeGenerate" commands.

Well, that must be it then. I can't use non-dev version since I require lsp and other nice stuff. Sorry about that.

[2021-05-11 09:27] qazip commented on #295
Tried with the following min config and couldn't make it work also:

[code]

[2021-05-12 03:19] kkoomen commented on #295
Vim doesn't support `~` in `rtp` or does it? Maybe neovim does, but vim doesn't. Anyway, I have tests passing on linux, so there should be no problem. Try these debugging options:

- Go into the `vim-doge` directory, run `npm install && npm run build:binary:linux` and then see if this works.
- If step 1 does not work, run `npm install && npm run build` and see if this works.
- If step 2 doesn't wo

[2021-05-12 07:46] qazip commented on #295
Step 1 failed:

[code]

Step 2 failed as well:
[code]

Step 3:
[code]

[2021-05-12 08:23] kkoomen commented on #295
Sorry, I provided the wrong command though, but still, you can also read the error message. Use `npm run build:binary:unix`, but make sure to pull from `master` branch first. I've changed the `prebuild` command.

Please test step 1 and 2 again, if one of them is successful, try step 3.

[2021-05-12 08:57] qazip commented on #295
Step 1 seems to have worked:
[code]

I did step 3 and this is the output:

[code]

[2021-05-12 08:59] qazip commented on #295
I also did step 2 followed by step 3:

[code]

[code]

[2021-05-12 14:06] qazip commented on #295
I am not able to do :doge#install() for some reason.

:doge#install gives "not an editor command".
:Doge#install() gives "Ambiguous use of user-defined command".

[2021-05-12 19:45] qazip commented on #295
I just did a clean install of my whole vim config and everything is working correctly now.

[2021-05-12 19:45] #295 closed

[2021-05-13 01:17] kkoomen commented on #295
Oh yeah, you need to do `:call doge#install()`, sorry again!

[2021-06-04 14:53] scottbolte opened #296 "Generated Numpy API documentation out of sync with pylint's interpretation"
**Describe the bug**

The generated Python docstring for a function, using Numpy style, provokes warnings from pylint. Specifically, from pylint's pylint.extensions.docparams plugin. It is a great plugin since it will notify me when the API docstring is no longer in sync with an evolving function signature.

See below for before & after examples, but in a nutshell, these two changes are needed:
1.

[2021-06-07 09:40] kkoomen commented on #296
@scottbolte Hi, thanks for your suggestion!

I've created a PR with passing tests etc that I want you to have a look at. If you approve, place a comment at that PR where you mention that you approve the changes. If you have suggestion, feel free to leave comments on the PR.

If you approve, I will merge it as soon as possible.

[2021-06-09 21:18] scottbolte commented on #296
I'll look at the PR, but it likely will need to change. I just found out that while `pylint` accepts a trailing line continuation after the opening triple quote, `flake8` does not. The compromise to make them both happy is to start the text on the same line as the opening quotes.

[2021-06-13 11:50] kkoomen commented on #296
@scottbolte let's continue this discussion at the PR.

[2021-06-15 03:59] yuhuihu opened #298 "typescript doc generation error."
**Describe the bug**

typescript file with   < **leader** > d

Errors:
[code]

**Settings**
no any custom setting added.
""""""""""""""""""""
" doge
"
let g:doge_enable_mappings = 1
let g:doge_mapping_comment_jump_forward = 1
let g:doge_mapping_comment_jump_backward = 1

**To Reproduce**

- Create file `doge.vim` with:

[code]

- Start (neo)vim with command: `vim -u doge.vim`

Steps to reproduce t

[2021-06-20 06:45] erancx commented on #298
I'm seeing the exact same issue with `NVIM v0.5.0-dev+nightly-335-g96d83e2a6` and Python doc generator.

[2021-06-20 08:12] kkoomen commented on #298
I've had this issue as well. A simple fix would be to build locally:

[code]

I personally experience some issues as well, but that's because I'm running on the new M1 macbook lately. I need to find some proper solutions for all these compatibilities.

[2021-07-07 11:40] sansyrox opened #299 "Dogegenerate rustdoc gives out an error"
**Describe the bug**

When I use the command to create rust docs, I get the following error:

[code]

**Settings**

Default settings and no bindings as of now.

**To Reproduce**
I followed all the steps for the installation and reporduction. I am using neovim 0.5.0.

And this is the output when I follow the vim steps in the documentation.
E282: Cannot read from "doge.vim"

**Output of `vim --versi

[2021-07-07 13:34] sansyrox commented on #299
Fixed it. This was an error with npm. I used nvm to make the global alias to 14 and it works.

Maybe some incompatibility with v16.

[2021-07-07 13:34] #299 closed

[2021-07-08 02:17] AXGKl opened #300 "typo at prominent place..."
Hi,

since you never have a second chance to make a first impression I thought I bug you with this one.

Your Splash Image has a big fat Typo :

![](https://user-images.githubusercontent.com/10693490/97796723-7f403900-1c0d-11eb-9633-9a94f48978b9.jpg)

If the 'Genertor' is an intended joke or so I beg a pardon...

[2021-07-08 13:12] kkoomen commented on #300
OMG you're a hero. I did re-create the banner which led to a sharper version, but _never_ have noticed this. Thanks!

[2021-07-08 13:21] kkoomen commented on #299
@sansyrox I've also has issues with v16 lately on my macbook m1 with node, so it's not you for sure.

[2021-07-08 13:28] #300 closed

[2021-07-08 13:58] sansyrox commented on #299
@kkoomen , I am using an intel macbook. So I guess there could be some issue with a dependency not supporting node 16 and not with the cpu architecture.
These are just my 2 cents and I may be entirely wrong too. 😅

Thanks though for this amazing plugin 🚀

[2021-07-10 06:12] sainnhe opened #301 "Will break the highlight under current cursor in typescript"
**Describe the bug**

![](https://user-images.githubusercontent.com/37491630/124851357-f74cd300-dfd4-11eb-921b-86e23396d4f6.png)

![](https://user-images.githubusercontent.com/37491630/124851361-fa47c380-dfd4-11eb-9122-3c1f2a1300d1.png)

As you can see, when I move the cursor to a variable, the highlight breaks (`myvar` should be red).

This happens only in typescript, there is no such problem in

[2021-07-10 07:14] kkoomen commented on #301
You're using a neovim development version. Obviously we're not gonna support that until it reached a stable version. If you can reproduce this bug with a stable version of neovim you can write a follow-up comment in here and I will re-open the issue.

[2021-07-10 08:22] sainnhe commented on #301
I'm very sure this bug can be reproduced in neovim 0.5.0 stable release.

---

Of course this is a neovim-only issue, vim does not have any support on tree-sitter.

[2021-07-10 11:52] kkoomen commented on #301
I reproduced this with v0.5. I'll debug this in a moment.

[2021-07-10 12:06] kkoomen commented on #301
Okay, I found the problem, but it's not related to vim-doge.

If you do `:set ft=javascript` you do get the green version:

<img width="1082" alt="image" src="https://user-images.githubusercontent.com/10693490/125162328-7e41ad00-e187-11eb-90f6-bd7063a4a719.png">

If you do `:set ft=typescript` then you do get the white version:

<img width="1082" alt="image" src="https://user-images.githubusercont

[2021-07-10 12:06] #301 closed

[2021-07-10 12:53] sainnhe commented on #301
No, the expected behavior should be keeping green, because the foreground color is controlled by tree-sitter.

That's said, the colors should always be highlighted via `TSVariable` which is green in this case, unless tree-sitter is disabled (then it will be highlighted via `typescriptVariableDeclaration` which is white in this case).

---

The question is, if I uninstall vim-doge, the problem goes

[2021-07-10 13:18] sainnhe commented on #301
I just debugged it a bit, I found that comment out one of these two lines could fix this bug:

https://github.com/kkoomen/vim-doge/blob/93a406c338f3577076b48f2c2ca9a74f2c0ebede/autoload/doge.vim#L129-L130

[2021-07-15 09:13] marioidival commented on #298
@kkoomen I missing something?
npm i
npm run build

[code]

[2021-07-15 17:17] kkoomen commented on #298
@marioidival let me guess, you're using M1 Macbook?

[2021-07-15 18:12] marioidival commented on #298
@kkoomen yes Y_Y

[2021-07-16 10:52] kkoomen commented on #298
@marioidival I also experiences issues with M1 and treesitter and Node v16. You should open your terminal using Rosetta, then reinstall node to v15 and then you should be able to install treesitter through `npm install`.

[2021-07-16 11:19] marioidival commented on #298
@kkoomen ok man, thank you!

[2021-07-20 15:02] iagomosqueira opened #302 "Error when generating documentation in R"
Calling DogeGenerate on an R function returns

[code]

Using vim 8.1 and neovim 0.6.0-dev on Ubuntu Linux 20.04, with standard DoGE settings after a new install using Pathogen and having called `:call doge#install()`. Same result when starting with the suggested doge.vim configuration.

**Output of `vim --version`**

[code]

[2021-07-22 09:12] kkoomen commented on #302
Please fill in the given bug form properly, because you're not giving my any information that I need to debug and reproduce this. Otherwise I'll close this.

[2021-07-22 11:45] #302 closed

[2021-08-03 00:44] rlch opened #303 "Add support for Dart"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-08-03 09:06] #303 closed

[2021-08-04 01:15] yuhuihu opened #304 "Add support for C#"
Need csharp support~~~

[2021-08-04 06:06] ColinKennedy opened #305 ":DogeGenerate files with "Error: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found" required by treesitter"
**Describe the bug**

I'm unable to use vim-doge's latest version becaus of an error while calling `:DogeGenerate`. Any advice would be greatly appreciated.

**Settings**

**To Reproduce**

- Create file `doge.vim` with:

[code]

- Start neovim with command: `nvim -u doge.vim test.py`

`test.py` looks like this

[code]

- Call `:DogeGenerate`

**Expected behavior**

A docstring should've been gene

[2021-08-04 06:57] ColinKennedy commented on #305
Nvm figured it out. https://github.com/cdr/code-server/issues/347#issuecomment-478389393 this comment worked.

I compiled gcc 8.2.0 and then

[code]

re-ran vim-doge and it worked

[2021-08-04 06:57] #305 closed

[2021-08-25 13:47] leafac commented on #291
Looked some more into this. I still don’t have a good answer. As far as caxa is concerned, it seems like everything was extracted, because the error is happening in JavaScript land, which means Node.js was activated. From that point on, something was going wrong in the application itself, but I don’t know what…

In any case, it seems like it’s no longer an issue, right?

[2021-09-24 11:37] John15321 commented on #304
C# support would be very nice!

[2021-09-27 11:43] John15321 opened #308 "Unnecessary `:` added at the end of Return statement in `numpy` docstrings Python"
**Describe the bug**

When creating a docstring in Python using the `numpy` standard the plugins add a `:` at the end of type hinting for Returns, like so:
[code]
`:` in `bool:` here is the problem.

From what I understand the returns shouldn't have that `:`:
https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html
**Settings**

**To Reproduce**

Simply create a `numpy` docstring

[2021-10-08 10:51] notpeelz opened #309 "Undo resets cursor position at the top of the file"
**Describe the bug**
Pressing `u` in normal mode after generating the documentation will reset the cursor position to the top of the file. I've only tested this with typescript files.

**To Reproduce**

- Create file `doge.vim` with:

[code]

- Start neovim with command: `nvim -u doge.vim`

Steps to reproduce the behavior:

1. Type `:set ft=typescript`
2. Enter insert mode and paste this code:
[co

[2021-10-08 11:20] notpeelz opened #310 "JS doc standard generates "@return" instead of "@returns""
The JSDoc doc standard generates `@return` tags instead of `@returns`.
jsdoc.app lists `@return` as a synonym for `@returns`, but TSDoc doesn't allow it.

Unfortunately this causes my eslint to complain. Would it be possible to change it to its canonical form so it doesn't completely break with TSDoc?
![image](https://user-images.githubusercontent.com/920910/136545811-9e1e9d7d-a323-4d05-b590-b3b14

[2021-10-08 18:01] kkoomen commented on #310
@notpeelz Hi. Thanks for the suggestion. I do agree with your suggestion to change it to `@returns` in order to follow both standards. I have changed it in #311. After tests have passed I'll release this asap.

[2021-10-08 18:55] #310 closed

[2021-10-10 06:32] notpeelz opened #312 "TypeScript: implicit return type generates an `@returns` tag"
**Is your feature request related to a problem?**

Given this TypeScript function:
[code]
DoGe generates the following:
[code]
...even though the function has no return value.

**Describe the solution you'd like**

DoGe could detect if it needs to generate documentation for `@returns` by walking the AST and checking for a `return_statement` with children nodes.

[2021-10-10 20:33] kkoomen commented on #312
Hi.

This was done on purpose because javascript does not have return types and always having the `@returns` is a nice add for most javascript-like languages.

This is tricky I'd say, because _not adding_ a return type in TS is basically letting TS infer the type, so it's sort of the same as `any`, but as your solution mentioned, checking  for the return statements would be an option. I'll see wha

[2021-10-25 08:26] mflova opened #314 "Plugin apparently installed but not giving any output."
Hi!
I installed the plugin with bundle and performed the `call doge#install`, which returns something like this when I rerun it again:
`[DoGe] already using latest version, skipping binary downloaded`

However, I tried different commands and configurations but could not make it work. `:DogeGenerate` does not generate any output. I have been reading documentation and other issues, but I could not m

[2021-10-26 20:01] XuhuiSun95 opened #316 "C++17 Nested Namespace Issue"
I have experienced some issues with the nested namespace. The plugin seems like no response(or maybe trying to do something but not displaying/adding anything in the file).

I am not sure if this is the issue directly from the vim-doge, or maybe related to the underlay Tree sitter parser, can anyone help and clarify this?

If I change the code back to the old-style namespace, the plugin start work

[2021-10-26 21:57] vzytoi opened #317 "[DoGe] php parser failed"
I just installed vim-doge on Window using packer.nvim and nvim v0.6.0 and tried to make a doc on a php file. It fail with this error. Thank you! (really nice plugin btw)
[code]

[2021-12-02 12:47] dbatten5 opened #319 "Python parser failed"
**Describe the bug**

This plugin has worked very well until this morning, now whenever I run `:DogeGenerate` i get the following:

[code]

AFAIK I haven't performed any updates to my OS or neovim since it was last working, not sure what's happened.

**Settings**

[code]

**Output of `vim --version`**

[code]
I note there have been a few other similar issues, eg https://github.com/kkoomen/vim-doge

[2021-12-09 12:48] jhandsel opened #320 "Inform users of Rosetta requirement for arm64 Apple Macs"
**Is your feature request related to a problem? Please describe.**
At the moment the vim-doge MacOS binary that downloads when you run `:call doge#install()` is compiled for the x86_64 architecture. This can work on the new arm64 architecture in the latest Macbooks, but you need to have Rosetta installed first.

**Describe the solution you'd like**
Add documentation to README to remind users to ru

[2021-12-10 09:54] kkoomen commented on #320
Hi!

This is indeed something that should be mentioned, but I wonder if it is already possible to make ARM builds. Currently we use `macos-latest` in the _Release_ workflow which defaults to MacOS 10.15. Perhaps we can try to create builds through `arch -arm64 bash <cmd>` but I haven't tested that yet, nor do I know if we should support ARM or not.

Do you have any suggestions?

[2021-12-11 22:56] shyun3 commented on #156
I am also running into this on Neovim v0.6:
![image](https://user-images.githubusercontent.com/37260523/145694039-0940e457-a09a-4408-b317-e7d3356e98cf.png)

Here is my minimal `init.vim`:
[code]

[2021-12-13 06:43] shyun3 opened #321 "Invalid `@param` generated for C functions that use `void`"
**Describe the bug**

When using doge on a C `void` function, a `@param` is generated when it shouldn't be since `void` corresponds to no parameters/arguments.

**Settings**

[code]

**To Reproduce**

- Create file `doge.vim` with:

[code]

- Start (neo)vim with command: `vim -u doge.vim`

Steps to reproduce the behavior:

1. Create `test.c` as follows: `echo "void bar(void);" > test.c`
2. Open fi

[2021-12-13 10:21] jhandsel commented on #320
I think it's worth making an ARM build, as the new macs are getting more popular and rosetta isn't installed by default. Then you could use `uname -m` in the install script to decide which binary to download and install.

[2021-12-14 09:44] mflova commented on #314
Solution found: WHen installing Bundle, there is a line that automatically is appended `filetype off`. This is the line that prevents the plugin to work

[2021-12-14 09:44] #314 closed

[2021-12-18 07:57] junchao98 commented on #298
Brothers I also encountered this problem
[code]

Manually compiled and solved, Thinks!

[2021-12-21 19:36] kkoomen commented on #321
Why should vim-doge handle this? This seems a user-related issue. Unless `void` is mandatory in C, just omit the `void`.

[2021-12-22 06:04] shyun3 commented on #321
Yes, `void` is mandatory in C if the function takes no arguments.

[2021-12-31 17:49] NicholasKao1029 opened #322 "Doge generate on js files"
**Describe the bug**

When activating `:DogeGenerate` I get the following error
[code]

This is on Mac Big Sur 11.5.2, I `cd` into the above folder and there isn't an index.js only
[code]

**To Reproduce**

- Create file `doge.vim` with:
[code]

- Start neovim with command: `vim -u doge.vim`

Steps to reproduce the behavior:

1. edit `temp.js` file anywhere
2. create simple function
[code]
hover o

[2021-12-31 17:54] NicholasKao1029 commented on #322
https://github.com/kkoomen/vim-doge/issues/319 Looks very relevant

https://github.com/kkoomen/vim-doge/issues/317 potentially relevant

[2022-01-05 08:05] joehannes commented on #107
got this same problem here.
Mac Silicon M1 on MacOs Monterey ...
After bumping tree-sitter version to 0.20.0 in package.json of the installed plugin I can `npm i tree-sitter` successfully, yet `:DogeGenerate jsdoc` still doing nothing

[2022-01-12 08:16] kkoomen commented on #317
Can you try to install node v15 (you can use nvm for this) and reinstall again? Lately issues are appearing due to the fact node v15 is required.

[2022-01-12 08:16] kkoomen commented on #322
Can you try to install node v15 (you can use nvm for this) and reinstall again? Lately issues are appearing due to the fact node v15 is required.

[2022-01-12 08:17] kkoomen commented on #319
Can you try to install node v15 (you can use nvm for this) and reinstall again? Lately issues are appearing due to the fact node v15 is required by the parser libraries. Unfortunately I don't have the time these days to maintain my project.

[2022-01-12 17:22] NicholasKao1029 commented on #322
@kkoomen Thanks that solved the issue!

No worries I appreciate the work you've put in, could I set up a PR for the README to note the node version dependency?

[2022-01-12 17:22] #322 closed

[2022-01-12 17:52] kkoomen commented on #322
I'll do it this evening. Thanks though!

[2022-03-02 22:03] sam-mfb commented on #320
I support adding an arm build.  One problem with using Rosetta is that if you use vim inside a docker container on an M1 mac , it will be running on an arm64 (technically, aarch64) linux build and so cannot run Rosetta.  The only way around that currently is to run an amd64 linux container on the m1 under rosetta, but that is painfully slow.

[2022-03-02 22:51] sam-mfb commented on #320
In the meantime, for anyone else with these issues, here's a Dockerfile that will compile from source.

[code]

If you build this on an m1 mac, you'll get an arm build.   Couple ways to use it after that--

1. You could add: `VOLUME /vim-doge` to the end of the Dockerfile, which will copy the contents to a volume and you can then get it from there.
2. You can use it in a subsequent Docker build wi

[2022-03-19 00:37] rensftw opened #324 "DoGe accidentally causes attaches `tsserver` on `vue` files"
Note: Thanks for this great plugin! I've been using it for a while and find it quite useful.
Thought I'd document this in case anyone else runs into it, because I couldn't find anything similar to this issue by googling.

**Describe the bug**
I am using Neovim with [nvim-lspconfig](https://github.com/neovim/nvim-lspconfig) and frequently edit Vue files.
I noticed that at some point `tsserver` star

[2022-03-29 04:25] jeffschwartz commented on #322
I have the same issue when activating :DogeGenerate. I get the following error:

Screenshot:

<img width="2240" alt="Screen Shot 2022-03-28 at 11 40 00 PM" src="https://user-images.githubusercontent.com/271288/160532129-09f6fc74-1bab-4647-83d6-054a74e17c24.png">

Output of running nvim -v:

[code]

Environment:
Mac OS: v12.3
Hardware: M1 Mac

[2022-03-29 17:27] jeffschwartz opened #325 "Typescript issues when Doge invoked in javascript files."
**Describe the bug**

I have the same issue as #322  when activating :DogeGenerate in *.js files. I get the following errors:

Screenshot:

<img width="2240" alt="Screen Shot 2022-03-28 at 11 40 00 PM" src="https://user-images.githubusercontent.com/271288/160664683-f4345d24-85cb-4056-a913-60bd28279886.png">

My lspconfig.lua file:

[code]

I am using Doge out of the box with all its defaults so I

[2022-04-24 13:36] kkoomen commented on #325
see https://github.com/kkoomen/vim-doge/issues/322#issuecomment-1010759427

Closing due to duplicate issue.

[2022-04-24 13:36] #325 closed

[2022-04-27 14:03] AlexisFinn commented on #324
:+1: having exactly the same issue, preventing me from using this plugin with `vue` files.
Any progress ?

[2022-05-01 13:27] kkoomen commented on #324
So, after I've did some testing, this seems to be NVIM specific. However, you did mention the following:

but this is not how things work in DoGe. When you're using the configuration you're using for `g:doge_filetype_aliases`, you're basically saying that DoGe should treat `vue` files the same as JavaScript files (basically allowing to generate JS docs for functions there). If you enable this, the

[2022-05-01 13:33] kkoomen commented on #72
@resolritter If you're using vim (not neovim, but just vim) you can use the following config for vue files:

[code]

[2022-05-01 18:51] kkoomen commented on #320
@sam-mfb @jhandsel I've done a big upgrade with all the parsers today and have published [v3.12.0](https://github.com/kkoomen/vim-doge/releases/tag/v3.12.0). Locally I am using the latest build and it still works when I do run `arch -arch arm64e /bin/bash` and then open a random file to generate some documentation. I am not sure if this proves that it supports arm64, but since I do use rosetta, I

[2022-05-01 18:56] kkoomen commented on #319
@dbatten5 I've done a big upgrade with all the parsers today and have published [v3.12.0](https://github.com/kkoomen/vim-doge/releases/tag/v3.12.0).  Please upgrade locally and test whether or not you still have any issues.

[2022-05-01 18:56] kkoomen commented on #317
@vzytoi  I've done a big upgrade with all the parsers today and have published [v3.12.0](https://github.com/kkoomen/vim-doge/releases/tag/v3.12.0).  Please upgrade locally and test whether or not you still have any issues.

[2022-05-01 19:36] vzytoi commented on #317
Hey!
Firstly thank you very much for thinking about me and sorry for not answering your previous message.
I recently switched from Windows 10 to Debian using my second SSD and I'm happy to say that it works perfectly here.
If it can help I'll be glad to try it out on Windows to check how it goes.
Again thank you and sorry for my English (:

[2022-05-01 21:04] kkoomen commented on #317
@vzytoi Oh, I forgot that you were using Windows. I did exclude the build for Windows in this version, because of node-gyp being shitty, so no need to test on Windows. Jus keep using Debian :)

I'll just close this issue for now. Feel free to report other issues in the future.

[2022-05-01 21:04] #317 closed

[2022-05-02 16:29] AlexisFinn commented on #324
If I launch `:LspInfo` on a `Vue` file:
![2022-05-02-182231_953x528_scrot](https://user-images.githubusercontent.com/7420883/166269946-ad4c1ec9-f24e-475e-8070-88daf458b591.png)

If I add this to my vim config:
[code]
and then launch `:LspInfo` on the same file:
![2022-05-02-182205_910x705_scrot](https://user-images.githubusercontent.com/7420883/166270115-38ab9a19-805a-43fe-968f-3977e61f32e9.png)
S

[2022-05-02 18:41] kkoomen commented on #324
@AlexisFinn I think I know what's happening. So basically when you use the config for `g:doge_filetype_aliases` saying that `vue` is an alias for `javascript`, the `javascript` filetype is invoked from vim-doge when you open a vue file.

If you open a `test.js` or `test.ts` file and then run `:LspInfo`, do you also see the `tsserver` running? If so, then this is expected behavior.

[2022-05-02 21:16] AlexisFinn commented on #324
@kkoomen Yes, `tsserver` should be running for javascript and typescript files as that's what I configured. But I specifically don't want it running for `vue` files has `vuels` is taking care of those. I wouldn't expect Doge to affect this, I would expect the filetype alias to only be taken into account by doge and not other plugins. But if you say this is normal behavior ok, I suppose it's not a

[2022-05-02 23:16] kkoomen commented on #324
This is indeed expected behavior. As I said, you're basically telling vim-doge to use vue files in the same way as JavaScript files, hence the configuration variable is called "alias", because that's what you're doing when you're aliasing vue to JavaScript.

This is an issue that you should solve on your end. I'll close this issue for now. Thank you for the fast replies.

[2022-05-02 23:16] #324 closed

[2022-05-06 04:37] khoint0210 commented on #319
hi @kkoomen
Running the lastest one still git the same error

![CleanShot 2022-05-06 at 11 37 09](https://user-images.githubusercontent.com/12799726/167067898-7c15b4de-3134-42b4-b3ae-4123849cde22.png)

[2022-05-06 04:51] khoint0210 commented on #319
Hmmm base on the error log
Look like missing index.js in `vim-doge` folder
So I try to remove the folder
`/var/folders/Lt/2t_fnilx2d5_38sy7n80lLrw0000gn/T/caxa/applications/vim-doge`
Then rerun the command ` :call doge#install()`
It should work now and index.js now appear
![CleanShot 2022-05-06 at 11 50 35](https://user-images.githubusercontent.com/12799726/167069143-0a92eb53-b29b-40f6-8be3-4277ea

[2022-05-06 06:14] crckhd opened #333 "Typescript Documentation"
**Documentation standard**

**How popular is the doc standard?**
- [ ] Not popular at all
- [ ] Some people use it
- [ ] Quite a lot of people use it
- [ ] It's not the most popular one, but a good alternative
- [x] Everyone is using it

[2022-05-06 06:41] kkoomen commented on #319
@khoint0210 Ah yes, you did run a local build last time. You can remove the bin folder and indeed run the install command again.

So, it has been fixed?

[2022-05-06 07:08] khoint0210 commented on #319
yeah it has been fixed but @dbatten5 can you try I solution see if it work

[2022-05-06 08:29] kkoomen commented on #333
Hi,

This already has been discussed earlier, see #198. Currently, TSDoc is still a proposal and even though I don't really mind implementing it, I rather wait until the proposal has been approved and released in its full version.

Right now you can still use JSDoc and then add the TSDoc decorators where needed.

[2022-05-06 08:31] kkoomen commented on #319
@dbatten5 See my previous comment in order to properly confirm whether or not it works.

[2022-05-07 10:22] r7vme opened #334 "Add "doxygen_cpp_comment" doc standard for C++"
**Documentation standard**

Listed [here](https://www.doxygen.nl/manual/docblocks.html) as one of the options. Basically use `///` instead of `/* */`

Example
[code]

**How popular is the doc standard?**

Many C++ projects use `///` instead of `/* */` style comments.

- [ ] Not popular at all
- [ ] Some people use it
- [x] Quite a lot of people use it
- [ ] It's not the most popular one, but a goo

[2022-05-08 14:52] kkoomen commented on #334
Hi,

That's something that I should do yes. I did implement it for C to use all the varieties, but not C++. I'll implement it anytime soon.

[2022-05-18 18:06] hnry opened #348 "Latest Windows release missing"
Latest Windows release missing causes the installer script to fail

[2022-05-19 20:12] #348 closed

[2022-05-19 20:13] kkoomen commented on #348
Hi,

Thanks for the headsup. I did handle the exception and add a message for Windows users with the reason.

[2022-05-30 02:04] btrachey opened #358 "Error when installing via vim-plug"
**Describe the bug**

When attempting to install using the vim-plug instructions in the doc:
`Plug 'kkoomen/vim-doge', { 'do': { -> doge#install()}}`
I get an error in the output when vim-plug is trying to install:
`x Post-update hook for vim-doge ... Vim(let):E117: Unknown function: doge#helpers#deepextend`
However, if I manually run `:call doge#install()` after the `:PlugInstall`, I see the bina

[2022-05-31 09:28] kkoomen commented on #358
Hi. I do experience this issue as well on NVIM v0.7.0. I'll have a look.

[2022-06-26 20:17] kkoomen commented on #320
@jhandsel I've reinstalled my whole OSX and am using arm64 and the latest version works fine, so I'll close this for now. If you experience issues regarding your initial problem, feel free to comment here.

[2022-06-26 20:17] #320 closed

[2022-07-06 07:29] duguyue100 commented on #358
Temporary fix:

I ran `:call doge#install()` again in neovim 0.7.0 on Ubuntu and popped out that `curl` is missing.
After I installed `curl` via `apt-get` and run `:call doge#install()` again, the installation is successful and everything is fixed.

[2022-07-07 03:27] roeeyn commented on #19
@kkoomen I think your justification for not supporting Golang inside DoGe is great. I think it would be a good idea to put it somewhere in the README so people can understand the reason behind this. Thanks for this plugin!

[2022-07-08 08:18] kkoomen commented on #358
@duguyue100 I'm sure it's not curl, because I have curl installed and am able to replicate the issue mentioned.

[2022-07-08 08:22] duguyue100 commented on #358
Yes, yes, I have a mac and it has the same problem, I guess what I was trying to say is running `:call doge#install()` again solves the problem for now.

[2022-07-08 08:24] kkoomen commented on #358
Yes, _that_ is something I confirmed as well. That is a temporary fix, but this seems a neovim-specific issue, hence why I submitted this to neovim.

[2022-07-19 01:07] tin-pham commented on #333
Second this, I gonna use JSDoc for now but I expect TSDoc gonna be implement in vimdoge in the future, this plugin is great

[2022-07-20 13:28] sam-mfb commented on #320
Sorry it took me so long to get around to testing this.

On a Linux docker container, running on an M1 mac, the installer still does not install an arm64 version, as indicated by the following error when you trying to invoke vim-doge in vim:
[code]

`uname` reports the arch on this docker image as `aarch64`

vim-doge is installed via the following line in .vimrc: `Plug 'kkoomen/vim-doge', { 'do':

[2022-07-20 15:47] kkoomen commented on #320
Wait... so you're using linux right now to test this?

[2022-07-20 16:13] sam-mfb commented on #320
Same issue; it's still downloading an x86_64 build.  It needs one compiled for aarch64 to run on arm64 linux.  It looks to me like you only have x86_64 builds on the release page.  I'm not sure why your mac version is working, unless Rosetta is somehow still running.

[2022-07-20 16:14] sam-mfb commented on #320
It's not just vim.  I use different containers for different dev environments so they have the various tooling/setup i need already setup.  So rather than needing to change my setup for different dev contexts I just launch the container I need, open vim, and code away...

[2022-07-20 16:15] sam-mfb commented on #320
Also, FWIW, the compiling from source option works fine, so this is not a big pain point for me.  Just wanted to let you know the results of testing.

[2022-07-25 07:14] kkoomen commented on #316
@XuhuiSun95 is this still an issue? I'm testing this again and it doesn't seem to be an issue.

[2022-07-25 09:49] #312 closed

[2022-07-25 09:51] #298 closed

[2022-07-25 09:52] kkoomen commented on #83
This has been added in [release v3.15.0](https://github.com/kkoomen/vim-doge/releases/tag/v3.15.0)

[2022-07-25 09:52] #83 closed

[2022-07-25 12:33] kkoomen commented on #304
C# with XMLdoc has been added since [release v3.15.0](https://github.com/kkoomen/vim-doge/releases/tag/v3.15.0)

[2022-07-25 12:33] #304 closed

[2022-07-25 13:54] #321 closed

[2022-07-25 14:05] John15321 commented on #304
Great! Thanks! 😄

[2022-07-27 09:22] jhandsel opened #411 "Sphinx format for Python using type hints to document types"
**Documentation standard**

[Sphinx with type hints](https://pypi.org/project/sphinx-autodoc-typehints/)
[Original Sphinx](https://sphinx-rtd-tutorial.readthedocs.io/en/latest/docstrings.html) (for reference)

**How popular is the doc standard?**
- [ ] Not popular at all
- [ ] Some people use it
- [ ] Quite a lot of people use it
- [X] It's not the most popular one, but a good alternative
- [ ] Ev

[2022-07-28 13:15] kkoomen commented on #411
Hi,

We can fix this with a configurable variable, just like we did with [javascript](https://github.com/kkoomen/vim-doge#javascript). That'd be better than creating a whole new doc standard.

[2022-07-28 18:31] XuhuiSun95 commented on #316
I just pulled the latest master, and it still seems to have the same issue.

and actually, even worse, it seems non-nested namespace also only auto-complete docs on namespaces B and A in the example above but not C anymore.

was it because of something related to the actual compiler I am using in my env?

[2022-07-28 18:43] XuhuiSun95 commented on #316
With a bit more investigation, I think the nested namespace issue is actually fixed, but the issue I mentioned above might be related to something else.

here is an example to reproduce:
[code]
this will not auto-complete the namespace of the current one, that's also the reason why the nested namespace currently still missing the namespace docs on my side.

However, once we add the docs for the fu

[2022-07-28 18:46] XuhuiSun95 commented on #316
Another issue with nested namespace,

example like this
[code]
for the nested namespace that has 3 or more, the doc gen doge_mapping also not working on this `void helper();` function on my side.

[2022-07-28 19:08] kkoomen commented on #316
@XuhuiSun95 Here's what I do:

Open `test.cpp` with the following contents:
[code]

then on line 3 I trigger vim-doge and then I get the following result:

[code]

This is what the output should be, right?

[2022-07-28 19:29] XuhuiSun95 commented on #316
@kkoomen
![Peek 2022-07-28 12-25](https://user-images.githubusercontent.com/22652504/181621393-7662b169-761d-4db6-b9ec-7dac3e4f1e8c.gif)
The vim buffer is trying to do something, but there is nothing has been changed.

[2022-07-28 19:30] kkoomen commented on #316
Can you go to line 3 and type `:DogeGenerate`, does that do the exact same thing?

[2022-07-28 19:33] kkoomen commented on #316
Test it again with this vimrc. Open a new file `vim-doge.vimrc`, paste the following contents inside of it (make sure to change the path of the `/path/to/vim-doge` to your local path of where vim-doge is:

[code]
then run `vim -u vim-doge.vimrc`, go to line 3 and run `:DogeGenerate`, does this work?

If this works then perhaps there's another plugin conflicting on the same keybind.

[2022-07-28 20:28] XuhuiSun95 commented on #316
@kkoomen
Thanks for the instruction, however, the above setup is still not working on the same example.
Also, I can confirm that the above setting does work on python docs.

[code]
I am using the ubuntu20.04LTS with apt installed vim I believe.

[2022-07-28 20:54] kkoomen commented on #316
@XuhuiSun95 I will test tomorrow on an Ubuntu VM to try to reproduce this issue. In the meanwhile, can you try the following:

1. `cd` into the `vim-doge` directory
2. create `test.cpp` with the following contents:

[code]
3. run `./bin/vim-doge test.cpp cpp 3 function_declarator`

The output should be:

[code]

Is your output the same?

[2022-07-28 21:00] XuhuiSun95 commented on #316
@kkoomen
test.cpp
[code]
 xuhui@xuhui-LinuxWorkstation  ~/.vim_runtime/my_plugins/vim-doge   master  ./bin/vim-doge test.cpp cpp 3 function_declarator
{"typeParameters":[],"name":"test","parameters":[],"returnType":"void"}
[code]

[code]
return nothing

[2022-07-28 21:09] kkoomen commented on #316
@XuhuiSun95 Wait, can you check the `package.json` and check the current version of vim-doge? Make sure you're at the latest version because it doesn't seem to be the case. In case you need to update:

1. `cd` into vim-doge directory
2. pull latest version
3. run `rm -rf node_modules && npm install`
4. run `rm -rf bin`
5. open vim and run `call doge#install()`
6. open a new file `test.cpp` with th

[2022-07-28 21:44] XuhuiSun95 commented on #316
@kkoomen
That's it.
Thanks for the help. I managed to pull the latest repo but did not run the `call doge#install()` again. The binary was outdated.

With this latest version, the no auto namespace close docs issue still exists when there are no docs for the function.

[2022-07-28 21:47] kkoomen commented on #316
What do you mean with this? Are you saying that although oh you have the latest version, you're still running into be issue?

[2022-07-28 21:49] XuhuiSun95 commented on #316
[code]
this will not automatically add the `// namespace A::B::C` at the end

unless we have something like
[code]

[2022-07-29 06:30] kkoomen commented on #316
True. This is something you can do by yourself, as this plugin won't do it because this plugin will only add documentation on top and not below. You can simply indent your code and use plugins like [indentLine](https://github.com/Yggdroot/indentLine) to easily see where a block of code starts and where its corresponding closing bracket ends.

You can make a [doc standard feature request](https://g

[2022-07-29 06:30] #316 closed

[2022-08-19 08:18] kkoomen commented on #156
@shyun3 see #358 for the latest updates on this.

[2022-08-19 08:21] #319 closed

[2022-08-19 13:44] #334 closed

[2022-08-19 14:25] r7vme commented on #334
@kkoomen thanks a lot, I just tried and it worked for me!

[2022-08-19 14:29] kkoomen commented on #334
@r7vme No problem. v3.18.0 has been released just now with this feature.

[2022-09-11 15:13] lvisb opened #458 "JSDoc error when have a blank return inside a function"
- Create file `vim-doge.vimrc`

**Describe the bug**

An error is occurring when a function uses return and is blank (without value) and we try to include the JSDoc with the command `<leader> + d` in Javascript/Typescript.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a file test.js with the content:

[code]

2. Try to add JSDoc comments with `<leader> + d`.

3. Notice the error,

[2022-09-25 19:06] hejops opened #467 "Undoing docstring generation should not move cursor to the top of the buffer"
**Is your feature request related to a problem? Please describe.**

When generating a docstring for a function and performing an undo, the cursor is moved to the top of the buffer, which is visually fairly jarring. It also seems to add a mark/jump to the jumplist that cannot be accessed after the undo (`Mark has invalid line number`).

**Describe the solution you'd like**

The cursor should return